.gitignore
bfg.jar
**/*~
**/__*
**/*.mp4
**/*.wav
**/*.mp3
**/*.flv
**/*.webm
**/*.mov
**/*.debug
**/*.log
#data/**
dump/**
_tools/**
_trash/**
node_modules/**
public/etutor/static/_trash/**
public/terezin/static/_trash/**
public/terezin/static/lib/_vi-two/**

