
<script type="text/javascript"> 

// render markdown
		$('.mark').each(function(i, val){
				$(val).html(markdown.toHTML($(val).text()))
		});

</script>


<div class="jumbotron">
	<div class="container">
  <h2>About</h2>
  <p></p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">

### Konzeption
Niels Seidel & Armin Pietsch

### Realisierung
* Inhalte: Niels Seidel, Armin Pietsch, Janick Baumann sowie einige andere Freiwillige von Aktion S체hnezeichen Friedensdienst, die in der Gedenkst채tte Theresienstatt t채tig sind oder waren.
* Software: Niels Seidel, [Vi-Lab/Vi-Theresienstadt](https://github.com/nise/vi-theresienstadt)

### Kontakt
**Niels Seidel**, 
niels.seidel [at] tu-dresden.de
TU Dresden, Internationales Hochschulinstitut Zittau, Professur f체r Produktionswirtschaft und Informationstechnologie

</div>	
	</div>
</div>	



    
