


<footer>
  <div class="container">
    <p>Powered by <a href="http://www.nise81.com">nise81.com</a> | partly funded by the crowd of startNext
		  <img hidden src="/static/img/logos/escience.png" height="70px"/><img hidden src="/static/img/logos/esf.png" height="30px"/> <img hidden src="/static/img/logos/eu.png" height="30px"/> <img src="/static/img/logos/startnext.png" height="30px"/>
		</p>
  </div>
</footer>
