
<h2>Tracing</h2> 
  <p>
		Innerhalb dieser Anwendung erheben wir zu Forschungszwecken einige Daten, um die Interaktionen der Lernenden mit den Videos zu untersuchen. 
		
		Diese Daten umfassen folgende Bestandteile: 
		<ul>
		<li>Nummer des betrachteten Videos</li>
		<li>Wiedergabeposition im Video</li>
		<li>Annotationen (Kapitelmarken, Tags, Kommentare)</li>
		<li>Datum und Uhrzeit</li>
		<li><a href="http://de.wikipedia.org/wiki/IP-Adresse">IP-Adresse</a></li>
		<li>Browser, Betriebssystem, Endgerät (z.B. PC oder Smartphone)</li>
		</ul>	 
		
		Zur weiteren weiteren Verwendung annonymisieren wir die Daten. Falls Sie Fragen zur Erhebung, Auswertung und Nutzung der Daten haben oder ganz einfach an den Ergebnissen der Untersuchung interessiert sind, senden Sie uns bitte eine E-Mail an niels.seidel [at] tu-dresden.de.
		<br><br>
		Wenn Sie sich nicht an dieser Untersuchung beteiligen wollen, können Sie die #exif14 Videos auch bei <a href="http://vimeo.com/exif14">Vimeo</a> ansehen. 
	</p>
