<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Theresenstadt explained</h2>
  <p hidden>Interaktive Lernrssource zum NS-Propagandafilm »Theresiensatdt. Ein Dokumentarfilm aus dem Jüdischen Siedlungsgebiet.«</p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">
		
### Über den NS-Propagandafilm
"Theresienstadt. Ein Dokumentarfilm aus dem Jüdischen Siedlungsgebiet" lautet der Titel ...


### Bestandteile dieser Anwendung

**Film:** Der Film bildet den Mittelpunkt der Anwendung. Durch zeitgenaue Sprungmakren lassen sich einzelne Szenen, wie auch dargestellten Personen und Ort zielgerichtet aufrufen. Um flüchtige Momente des Bewegtbildes erfassen zu können, lässt sich die Wiedergabegeschwindigkeit anpassen. 

**Protagonisten:** Bisweilen konnten wir 48 Personen im Film identifizieren. Für fast alle Personen haben wir die wichtigsten biografischen Angaben zusammengetragen und in teilweise in auch kurze Biographien erstellt. 

**Orte:** Im Film sind viele authentischen Orte im Ghetto Theresienstadt zu sehen. Unser Ziel ist es, diese Orte zu identifizieren, auf einer Karte zu verzeichnen und ihnen aktuelle Aufnahmen gegenüberzustellen. 

**Propaganda:** Die Hervorhebung der versteckten Täuschungen, Übertreibungen und unvollständigen Darstellungen ist das zentrale anliegen dieses Vorhabens. Bisweilen haben wir diese Aspekte nur teilweise in den Szenenbeschreibungen erfasst oder getrennt vom Film (z.B. in didaktischen Konzeptionen) aufbereitet.

 

### Anwendsungsszenarien 

**Filmpräsentation vor Gruppen:**
Stellen wir uns einmal vor, wie eine fachkundige Person den Film einer Gruppe vorstellen kann. Da es sich um einen Vorbehaltsfilm handelt, kann der betreffende Experte den Film nicht einfach so vorführen. Eine Einführung in den historischen Kontext sowie eine Erläuterung der propagandistischen Elemente ist zwingend erforderlich. Darüber hinaus ist der Film nur dann nachvollziehen und einschätzen, wenn entsprechendes Vorwissen zu den dargestellten Orten, Personen und Handlungen vorausgesetzt werden kann.

Um dies in einer didaktisch sinnvollen Weise tun zu können muss man auf einzelne Szenen eingehen und Hintergründe erklären. Aufgrund der Wiedergabedauer und dem Detailgehalt der Szenen sollte man deshalb die Wiedergabe an ausgewählten Positionen unterbrechen und das aktuell dargestellte kommentieren bzw. das unmittelbar kommende ankündigen. Erst die zeitliche Nähe von Bilde/Ton und den Erläuterung fördert die Wissensverarbeitung. 

Die pädagogische Arbeit mit Gruppen ist also einerseits durch die Vorführung einzelner Szenen und andererseits durch die vortragsähnliche Erläuterung geprägt. Wir bezeichnen dieses Vorgehen, in Anlehnung an die Nutzung von Präsentationsfolien, als *geführte Video-Präsentation* (*Guided Video Presentation*). Die dafür vorgesehene Unterstützung geht über das hinaus, was Fernbedienungen von DVD-Playern, o.ä. ermöglichen. Als Vorbereitung auf eine Gruppenvorführung wird ein Sequenz von Ereignissen definiert, die der Vortragende in der festgelegten reihenfolge durchläuft. Zwischen diesen Ereignisen läuft der Film ganz normal. Wird eine Abspielposition erreicht, die mit einem Ereignis verknüpft ist, ändert sich die Darstellung des Film in einer der folgenden Weisen: 

* anhalten des Films (pause)
* fortsetzen der Wiedergabe (play)
* Ton ausschalten/anschalten (mute)
* Sprung zu einer bestimmten zeitlichen Position (skip)
* Wiederholung eines Abschnitts, beliebig oft (loop)
* Verminderung der Wiedergabegeschwindigkeit für einen definierten Zeitabschnitt (slow)
* Zusatzinformationen ein-/ausblenden (popup)


**Exploratives und selbstgesteuertes Lernen:**
Die Lernenden entscheiden selsbt darüber, welche der angebotenen Materialien sie zu welcher Zeit, an welchem Ort und in welcher Weise nutzen. Dies setzt jedoch die Kenntnis des gesamten Angebots voraus. Da nicht davon auszugehen ist, dass sich Lernende vorab einen umfassenden Überblick verschaffen bevor sie den Film ansehen, sollten während der Filmvorführung Hinweise auf weiterführende Matrialien erscheinen. Dies ist insbesondere auch erforderlich, damit die historischen Hintergründe sowie die Kritik an bestimmten Abschnitten nicht außer Acht gelassen wird. Zu diesem Zweck unterscheiden wir essentielle für die richtige Einordnunung und das Verständnis unerlässliche Informationen von solchen, die als weiterführende Informationen anzusehen sind. Erstere werden verpflichtend während der Wiedergabe angezeigt, während die letzt genannten zum Abruf bereit stehen.

**Gruppenarbeit:**
Mit Hilfe sogenannter CSCL-Script können sich Kleingruppen auf eine intensive Art und Weise mit dem Film auseinansersetzen.


### Project Roadmap
* improve backend facilities 
* complete description of scenes
* analyse the film regarding possible propaganda elements
* support multiple language (cz, en, de)
* add video zoom
* add transcript in terms of subtitles
* collaboration scripts: lets student identify and discuss scences that they consider as propaganda
* enable guided video tours as an enhancement for group presentations
		</div>
	</div>	
</div>



