<% layout( 'layout-scenes' ) -%>
 
 NOT COMPLETE!!
 
<h1><%= title %></h1>
<form action="/persons/create" method="post" accept-charset="utf-8">
  <input type="text" name="shortname" />
  <input type="text" name="name" />
  <input type="text" name="surename" />
  <button type="submit">add new person</button>
</form>
 

