<!doctype html>
<html lang="en" class="no-js">
<head>
  <title></title>
  <link rel="stylesheet" href="/static/js/popcorn-maker/css/style.css">
  <link rel="stylesheet" href="/static/js/popcorn-maker/css/popcorn-maker.css">
  <link rel="stylesheet" href="/static/js/popcorn-maker/css/trackLiner.css">
  <link rel="stylesheet" href="/static/js/popcorn-maker/css/jquery-ui.css" type="text/css">

  <script type="text/javascript" src="/static/js/popcorn-maker/lib/require/require.js"></script>
  <script type="text/javascript" src="/static/js/popcorn-maker/butter/src/butter.js"></script>
  <script type="text/javascript" src="/static/js/popcorn-maker/js/main.js"></script>
  <script type='text/javascript' src='/static/js/jquery-1.5.2.js'></script>
</head>
<body>


<!-- ########## START HEADER ########## -->
<header>

  <!--<h1 class="logo"><a href="#"><img class="logo-popcorn-maker" src="images/icon.ico" width="20" height="20" />Popcorn Maker</a></h1>-->

  <div class="header-right">
      <ul class="header-buttons">
        <!--<li class="add-btn"><a class="add-project-btn" href="#" title="New Project">New Project</a></li>-->
        <!--<li class="edit-proj-btn"><a id="edit-projects" class="edit-projects" title="Edit Projects" href="#">edit</a></li>-->
        <li class="save-btn"><a class="save-project-btn" href="#" title="Save Project">Save Project</a></li>
      </ul>

 </div>

</header>
<!-- ########## END HEADER ########## -->

<!-- ########## START IFRAME SECTION ########## -->
<iframe id="main" src="">
</iframe>
<!-- ########## END IFRAME SECTION ########## -->

<!-- ########## START HIDE TIMELINE BUTTON ########## -->
<div class="hide-timeline">
 <a href="#" >Hide Timeline</a>
</div>
<!-- ########## END HIDE TIMELINE BUTTON ########## -->

<!-- ########## START PROPERTIES PANEL ########## -->
<section id="properties-panel">

<!-- ***** START PROPERTIES HEADER ***** -->
 <div class="properties-header">
  <div class="timeline-heading">
   <a href="#" class="timeline-title media-title-div">No Media</a>
   <ul class="actions"><li class="bubble_pointer"></li><li class="edit"><a class="edit-timeline-media" href="#">edit</a></li></ul>
  </div>

 </div>
<!-- ***** END PROPERTIES HEADER ***** -->

<!-- ***** START TOOLBOX ***** -->
 <div class="enable-scroll tiny-scroll toolbox collapsed">

  <div class="collapse-btn collapse"><a href="#">Collapse</a><span></span></div>

  <!-- ***** START SCROLLBAR ***** -->
  <div class="scrollbar">
   <div class="track">
    <div class="thumb">
     <div class="end">
     </div>
    </div>
   </div>
  </div>
  <!-- ***** END SCROLLBAR ***** -->

  <!-- ***** START VIEWPORT ***** -->
  <div class="viewport">
     <div class="overview">
		<script type="text/javascript">
			window.fileSizes = {"stable":{"core":false,"plugins[bgiframe]":false},"nightly":{"core":54710}};
		</script>
        <div id="contentheader">
          <ul class="tools" id="plugin-tray">
          </ul>
         </div>
     </div>
  </div>
 <!-- ***** END SCROLLBAR ***** -->

 </div>
<!-- ***** END TOOLBOX ***** -->



<!-- ***** START TIMELINE ***** -->
  <div id="timeline" class="timeline">

   <!-- ***** START PLAYBACK CONTROLS ***** -->
   <div class="playback-controls">
     <div class="play-btn"><a href="#"><span >play/pause</span></a></div>

     <div class="timeline-duration" id="timeline-duration">00:00:00</div>

     <div class="timeline-progress-wrapper disable-select">
       <div id="scrubber-container" class="disable-select" style="z-index: 1; position: relative;">
         <div id="scrubber-interact" class="disable-select" style="position: absolute; left: 0px; top: -10px; height: 400%; width: 100%;"></div>
         <div class="timeline-bar disable-select">
           <div id="progress-bar" class="timeline-progress-bar disable-select">
             <div id="scrubber" class="current-line disable-select">
               <div style="left: -5px"class="current-white disable-select">
               </div>
             </div>
           </div>
         </div>
       </div>
     <!-- ***** TIMING NOTCHES ***** -->
       <div class="timing-notches-div disable-select">
       	 <canvas id="timing-notches-canvas" class="disable-select"></canvas>
       </div>
     <!-- ***** END TIMING NOTCHES ***** -->
     </div>

     <div class="sound-btn"><a href="#"><span >play/pause</span></a></div>
   </div>
   <!-- ***** END PLAYBACK CONTROLS ***** -->

   <!-- ***** START LAYERS PANEL ***** -->
   <div class="enable-scroll">

      <!-- ***** START VIEWPORT ***** -->
      <div style="color: white; overflow: hidden; position: absolute; width: 180px; height: 108px;"><div style="position: absolute;" class="timeline-div" id="layers-div" >
      </div></div>
<div align="center" style="position:absolute; bottom:0; margin-left:7px; width:93px; height:16px; margin-bottom:10px;"><div id="slider"></div></div>
      <div class="viewport" id="tracks-div" style="position: absolute; overflow: scroll; left: 120px; right: 10px;">
        <!--<div class="timeline-left timeline-div"></div>-->

        <div class="overview timeline-right timeline-div" id="timeline-div">
        </div>
      </div>
      <!-- ***** END VIEWPORT ***** -->

     </div>
     <!-- ***** END LAYERS PANEL ***** -->

  </div>
  <!-- ***** END TIMELINE ***** -->

</section>
<!-- ########## END PROPERTIES PANEL ########## -->


<!-- ########## START POPUPS ########## -->
 <div class="popupDiv close-div">
 	<div class="balck-overlay balck-overlay-dims"></div>
 	<div class="popup-container">
<!--
        <div id="captcha-popup">
        </div>
-->
        <div id="change-media-popup" class="change-media-popup pop-up close-div draggable"> <!-- popup 1 -->
            <a class="popup-close-btn" href="#"><span></span></a>
        	<div class="popup-header">
            	<h3>Change timeline media</h3>
            </div>
            <div class="popup-content">
                	<p>
                        <label for="url">url: </label>
                        <input type="text" name="url" id="url" value="">
                    </p>
                    <input type="submit" class="change-url-btn" value="change">
                    <p class="desc">Show us where your video file lives. Youtube and Vimeo embeds work too.<a href="#">Learn more about what kind videos work...</a></p>
            </div>
        </div><!-- end popup 1 -->

        <div id="error-popup" class="error-popup pop-up close-div draggable">
          <a class="popup-close-btn" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>An Error Occurred</h3>
          </div>
          <div class="popup-content">
            <p class="desc"></p>
            <div class="popup-btns">
              <input name="ok" type="submit" class="ok-btn" value="Ok">
            </div>
          </div>
        </div>

        <div id="edit-track-popup" class="edit-track-popup pop-up close-div draggable"> <!-- popup 2 -->
          <a class="popup-close-btn" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>Track</h3>
            <div class="tracks-drpdwn">
              <select name="projects-dd" class="projects-dd" style="width:258px;" tabindex="1">
                <option name="one" value="msDropDown" >msDropDown</option>
                <option name="two" value="PrototypeCombobox" >Prototype Combobox</option>
                <option selected="selected" value="jQuery Tabs" >jQuery Tabs</option>
                <option value="Common Accordion" >Common Accordion</option>
              </select>
            </div>
          </div>
          <div class="popup-content">
            <div class="track-content">
              <p></p>
            </div>
            <div class="popup-btns">
              <input type="submit" class="ok-btn" value="Ok">
              <input type="submit" class="apply-btn" value="Apply">
              <input type="submit" class="preview-btn" value="Preview">
            </div>
          </div>
        </div><!-- end popup 2 -->

        <div id="save-popup" class="save-popup pop-up close-div"> <!-- popup 3 -->
            <a class="popup-close-btn" href="#"><span></span></a>
        	<div class="popup-header">
            	<h3>Save / Export</h3>
            </div>
            <div class="popup-content">
              <input type="button" class="show-json-btn" name="show-json-btn" value="Project JSON" />
              <input type="button" class="show-html-btn" name="show-html-btn" value="html" />
            	<div class="track-content">
                <textarea id="export-data"></textarea>
				      </div>
                <p class="track-text html-text show-text">Copy this html code somewhere! or try <a href="#">htmlpad.org</a></p>
                <p class="track-text json-text hide-text">Copy this Project data somewhere to backup your work!</p>
                <div class="download-html">

                  <!--<input type="submit" class="download-btn" name="download-btn" value="Download as HTML">-->
                  <label class="save-prj-lbl" for="project-savename-textbox">Save As:</label><input type="text" id="project-title-textbox" class="project-title-textbox" name="project-title-textbox" >
                  <input type="submit" class="save-project-data-btn" name="save-project-data-btn" value="Save Project">
                  <!--<input type="button" class="publish-project-btn" name="publish-project-btn" value="Publish Project">-->
              </div>
            </div>
        </div><!-- end popup 3 -->

        <div id="editor-popup" class="editor-popup pop-up close-div draggable"> <!-- popup 4 -->
        </div><!-- end popup 4 -->

        <div id="edit-target-popup" class="edit-target-popup pop-up close-div draggable"> <!-- Track Editor Pop-up -->
          <a class="popup-close-btn" href="#"><span></span></a>
          <div class="popup-header">
            <h3>Edit Track</h3>
          </div>
          <div class="popup-content">
            <span>Target Elements: </span><select id="track-edit-target" class="edit-track-button"></select>
            <span>Track Title: </span><input type="text" maxlength="12" id="track-title-input-box"></input>
            <br/>
            <textarea rows="21" cols="85" id="track-edit-JSON"></textarea>
            <br />
            <div id="track-edit-btn-div">
              <button id="apply-track-edit" class="edit-track-button">apply</button>
              <button id="ok-track-edit" class="edit-track-button">ok</button>
              <button id="delete-track-edit" class="edit-track-button">delete</button>
              <button id="clear-track-edit" class="edit-track-button">clear</button>
            </div>
          </div>
        </div><!-- Track Editor Pop-up -->

        <div id="delete-track-popup" class="project-title-popup pop-up close-div draggable">
          <a class="popup-close-btn" href="#"><span></span></a>
          	<div class="popup-header">
              	<h3>Delete Track</h3>
              </div>
              <div class="popup-content">
                <br />
                <input id="deleteTrackBtn" type="submit" class="change-title-btn" value="Yes">
                <p class="desc">Are you sure you want to delete this track?</p>
              </div>
        </div>

        <div id="delete-project-popup" class="project-title-popup pop-up close-div draggable">
          <a class="popup-close-btn" href="#"><span></span></a>
          	<div class="popup-header">
              	<h3>Delete Saved Project?</h3>
              </div>
              <div class="popup-content">
                <br />
                <input id="confirm-deleteProjectBtn" type="submit" class="change-title-btn" value="Yes">
                <p class="desc">Are you sure you want to permanently delete this project?</p>
              </div>
        </div>

        <div id="edit-project-popup" class="project-title-popup pop-up close-div draggable"> <!-- project-title-popup -->
            <a class="popup-close-btn" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>Edit Projects</h3>
          </div>
          <div class="popup-content">
            <div>
              <select size="12" class="projects-list" >
              </select>
              <div class="project-info-div">
                <span>
                <br />
                  <textnode class="input-title-text">Title</textnode><br />
                  <input type="text" id="project-title-input-box" >
                  <br /><br />
                  <textnode class="input-title-text">Last Modified:</textnode><br />
                  <textNode id="date-saved"></textnode>
                </span>
                <br />
                <br />
                <div class="edit-project-buttons-div">
                  <input type="submit" id="change-title-btn" class="change-title-btn" value="Rename">
                  <input type="submit" id="load-selected-project-btn" class="change-title-btn" value="Load">
                  <input type="submit" id="delete-selected-project-btn" class="change-title-btn" value="Delete">
                  <br />
                  <p class="desc">Changes apply to the selected project in the list</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end popup project-title-popup -->

        <div id="load-confirmation-dialog" class="project-title-popup pop-up close-div draggable">
          <a class="popup-close-btn load" href="#"><span></span></a>
        	<div class="popup-header">
            	<h3>Load Project?</h3>
            </div>
            <div class="popup-content">
              <p class="desc">Loading the selected project will erase any unsaved changes to the current project. Are you sure you wish to continue?</p>
              <input type="submit" id="confirm-load-btn" class="confirm-load-btn" value="Load Project">
            </div>
        </div>

        <div id="delete-track-confirmation" class="pop-up close-div draggable">
          <a class="popup-close-btn load" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>Delete Track?</h3>
          </div>
          <div class="popup-content">
            <p class="desc">Deleting a track cannot be undone. Are you sure you wish to continue?</p>
            <input type="submit" id="delete-track-confirm-btn" class="confirm-load-btn" value="Delete">
          </div>
        </div>

        <div id="clear-track-confirmation" class="pop-up close-div draggable">
          <a class="popup-close-btn load" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>Clear Track?</h3>
          </div>
          <div class="popup-content">
            <p class="desc">Clearing a track cannot be undone. Are you sure you wish to continue?</p>
            <input type="submit" id="clear-track-confirm-btn" class="confirm-load-btn" value="Clear Track">
          </div>
        </div>

        <div id="load-failed-popup" class="project-title-popup pop-up close-div draggable">
          <a class="popup-close-btn load" href="#"><span></span></a>
        	<div class="popup-header">
            <h3>Load Failed!</h3>
          </div>
          <div class="popup-content">
            <p class="desc">Your desired media source could not be loaded. Please make sure the location is correct.</p>
            <input type="submit" id="retry-load" class="confirm-load-btn" value="Change Media">
          </div>
        </div>

        <div id="media-timeout-popup" class="project-title-popup pop-up close-div draggable">
          <a class="popup-close-btn load" href="#"><span></span></a>
        	<div class="popup-header">
            	<h3>Media Timeout</h3>
            </div>
            <div class="popup-content">
              <p class="desc">Your desired media source seems to be taking a while to load. Would you like to keep waiting or try a different media source?</p>
              <input type="submit" id="timeout-retry-load" class="confirm-load-btn" value="Change Media">
              <input type="submit" id="timeout-keep-waiting" class="confirm-load-btn" value="Wait">
            </div>
        </div>

        <div id="add-project-popup"><!-- welcome popup -->
          <a class="popup-close-btn" href="#"><span></span></a>
          <div class="popup-header">
            	<h3 class="welcome-header">Create / Import Project</h3>
          </div>
          <div class="scroll-popup-container spc-add-project">
            <div class="padding-div add-project-padding-div">
                <div id="template-thumbnail"></div>
                <div class="proj-title-div">
                  <span class="input-title-text">Project Title</span><br />
              	  <input type="text" class="proj-title-input" id="title-input-box" value="New Project"></input>
              	</div>
              	<br />
              	<div class="timeline-media-div">
              	  <span class="input-title-text">Timeline Media</span><br />
              	  <input type="text" class=proj-title-input" id="timeline-media-input-box" value="http://videos-cdn.mozilla.net/serv/webmademovies/Moz_Doc_0329_GetInvolved_ST.webm"></input><br />
              	  <span class="tip-text-new-project"> Show us where your media file lives. Youtube, Vimeo,<br />
              	    and Soundcloud URLs work too.<br /><br />
              	    <a href="#">Learn more about what kinds of media work in Popcorn Maker.</a>
              	  </span>
              	</div>
              	<br />
                <div  class="template-select-div">
                  <span class="input-title-text">Choose a Template</span><br />
                  <select id="layout-select"></select>
                  <input type="text" id="template-other"></input>
                  <div>
                    <span style="font-weight: bold;">Description:</span>
                    <div id="template-description"></div>
                  </div>
                </div>
                <br /><br />
                <div class="new-proj-button-div">
                  <span class="import-screen-toggle"><a href="#" class="import-scroll-toggler" >Import Project..</a></span>
                  <input type="submit" class="create-new-btn" name="create-new-btn" value="Create">
                </div>
              </div>
              <div class="padding-div add-project-padding-div">
                <div class="import-json-div" >
                  <select id="import-json-select">
  									<option value="userguide">userguide</option><option value="liehr">liehr</option><option value="moss">moss</option><option value="saliha1">saliha1</option><option value="petersen1">petersen1</option><option value="huppert3">huppert3</option><option value="magiera">magiera</option><option value="dombrowsky">dombrowsky</option><option value="graefe">graefe</option><option value="mueller">mueller</option><option value="albrecht">albrecht</option><option value="balke1">balke1</option><option value="saliha2">saliha2</option><option value="lehmann">lehmann</option><option value="abebe">abebe</option><option value="ayenew2">ayenew2</option><option value="huppert4">huppert4</option><option value="borchardt2">borchardt2</option><option value="niemann">niemann</option><option value="scheumann">scheumann</option><option value="ostrowski">ostrowski</option><option value="huppert1">huppert1</option><option value="schanze">schanze</option><option value="newig">newig</option><option value="huppert2">huppert2</option><option value="lennartz">lennartz</option><option value="demydenko">demydenko</option><option value="borchardt1">borchardt1</option><option value="ayenew1">ayenew1</option><option value="bogardi">bogardi</option><option value="krebs">krebs</option><option value="berendonk">berendonk</option><option value="jabir">jabir</option><option value="awulachew">awulachew</option><option value="bernhofer">bernhofer</option><option value="petersen2">petersen2</option><option value="mund">mund</option><option value="cullmann">cullmann</option><option value="tsegai">tsegai</option><option value="bhaduri">bhaduri</option><option value="balke2">balke2</option>
									</select><br /> 
									<textarea rows="21" cols="51" id="import-json-area"></textarea>
                  <div class="new-proj-button-div" >
                    <span class="new-proj-screen-toggle"><a href="#" class="import-scroll-back-toggler" >..Create Project</a></span>
                    <input type="button" class="load-code-btn" id="import-json-btn" value="Import from JSON"></input>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div id="credits-popup" class="credits-popup pop-up close-div draggable" style="display:none" >
          <a class="popup-close-btn load" href="#"><span></span></a>
          <div class="popup-header">
            <h3>Popcorn Maker</h3>
          </div>
          <div class="popup-content">
            <p class="desc">
              Crafted lovingly by the <a class="credit-href" href="http://www.mozilla.org/" >Mozilla Foundation</a> and<br />
              the <a class="credit-href" href="https://www.popcornjs.org/">Popcorn.js</a> team.<br />
              Version 0.1<br />
              <br/>
              <h4>Credits:</h4><br />
              Christopher De Cairos<br />
              Mohammed Buttu<br />
              Brian Chirls<br />
              Gopal @ Productive Dreams<br />
              Scott Downe<br />
              Brett Gaylor<br />
              Ben Moskowitz<br />
              Bobby Richter<br />
              Dave Seifried<br />
              Rick Waldron<br />
              Jon Buckley<br />
              David Humphrey<br />
              Boaz Sender<br />
              Al Mcdonald
            </p>
          </div>
        </div>


    </div>
 </div>
<!-- ########## END POPUPS ########## -->
<div id="loading-overlay">
  <h1>Loading...</h1>
</div>
<script>
/***/
      	var server = '/static/';
     			
          var dataString = '433';//$("#import-json-select option:selected").val();
          if ( dataString ) { 
          		
          		var track0 = '',
		 					track1 = '',
		 					track2 = '',
		 					butter1 = '',
		 					butter2 = '', 
		 					butter3 = '';
		 					
		 					var deci2seconds = function(s){
								if(Number(s) < 0 || s == null){ return 0; }
								var arr = s.split(':');
								return Number(arr[0])*3600+Number(arr[1])*60+Number(arr[2]);
							};
		 					
							// 		
          		$.ajax({
    						type: "GET",
    						dataType: "json",
    						url: '/json/videos',//server+'data-slides.json',
    						success: function(data){  alert(0)
    							$.each(data, function(j, val){ 
    								if(val.id == dataString){
    									//
    									var butter = '{"template":"basic","title":"'+dataString+'","guid":"AA41AB3B-D145-477E-A264-3B42701F1E85", "project": {"targets":[{"id":0,"name":"Area1"},{"id":1,"name":"pop-container"}],"media":[ {"id":"Media1","name":"Media01327337635028","url":"'+val.video+'","target":"main","duration":4829.205,"tracks":[';
							  
    									// fetch slides
											$.each(val.slides, function(i, val){ 
												if(i % 2 == 0 ){ 
													butter1 += '{"id":"TrackEvent'+i+'","type":"image","popcornOptions": {"start":'+this.starttime+',"end":'+Number(Number(this.starttime) + Number(this.duration)) +',"href":"","src":"'+server+'slides/'+dataString+'/'+this.img+'","text":"","target":"Area1"}, "track":"Track1327337639244","name":"Track1327337639'+Math.ceil(Math.random()*1000)+'"},';		
												}else{
													butter2 += '{"id":"TrackEvent'+i+'","type":"image","popcornOptions": {"start":'+this.starttime+',"end":'+ Number(Number(this.starttime) + Number(this.duration)) +',"href":"","src":"'+server+'slides/'+dataString+'/'+this.img+'","text":"","target":"Area1"}, "track":"Track1327337639255","name":"Track1327337639'+Math.ceil(Math.random()*1000)+'"},';		
												}
											});
											// fetch links
											$.each(val.links, function(i, val){
														butter3 += '{"id":"TrackEventA'+i+'","type":"pop","popcornOptions":{"start":'+Number(deci2seconds(this.start))+',"end":'+(Number(deci2seconds(this.start))+Number(this.duration))+',"exit":"2.5","text":"'+this.id+'", "link":"'+this.text+'","target":"pop-container", "left":"'+this.x+'%", "top":"'+this.y+'%"},"track":"Track1327357889566","name":"Track1327357889'+Math.ceil(Math.random()*1000)+'"},';		
											});
											
											// concatinate popcorn.js-json 
											track0 = '{"name":"Track1327337639244","id":"Track0", "trackEvents":['+butter1.substr(0, butter1.length -1)+']},';
											track1 = '{"name":"Track1327337639255","id":"Track1", "trackEvents":['+butter2.substr(0, butter2.length -1)+']}';
											track2 = '';//'{"name":"Track1327357889566","id":"Track2", "trackEvents":['+butter3.substr(0, butter3.length -1)+']}';
											butter += track0 + track1 + track2 + ']}]}}';
											var data = JSON.parse( butter );
  										
  										// run popcorn maker
              				//popupManager.hidePopups();
              				pm.importProject( data, document.getElementById( 'timeline-media-input-box' ).value );
    								}
    							});
    						},
								error: function(e){ alert('error at json import'+JSON.stringify(e)); },
							});
      	}
     
</script>
</body>
</html>

