<% layout('layout-blank') -%>


<div class="col-md-6">
	<h2>Login</h2> 
<% if (message) { %>
<p><%= message %></p>
<% } %>

  <p>
    <div class="edit-form">
			<form action="/login" method="post">
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Benutzernamen</span>
					<input type="input" class="form-control" placeholder="Benutzername" aria-describedby="Username" name="username" value="<% if (username) { %><%= username %><% } %>">
		    </div>
		    <br>
		    <div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Passwort</span>
					<input type="password" class="form-control" placeholder="Passwort" aria-describedby="Password" name="password" value="">
		    </div>
		    <br>
		   <div class="buttons">
				<button type="submit" class="btn-default btn">Login</button>  
			</div>
			</form>
		</div>
	</p>	
</div>
