

/* timeline marker */
.hyperlinks-timeline-marker{
	position: absolute; 
	top:0px !important;
	display: block;
	cursor:pointer; 
	width: 10px; 
	height: 10px; 
	left:0; 
	margin: 0; 
	padding: 0;
	z-index:200;
	background-color:green;
}

.hyperlinks-timeline-marker:hover{
	width: 14px; 
	height: 14px;
	background-color: white;
}

/* menu entries */
.hyperlinks-list{ padding:0px; list-style-type:none; list-style-position: inside; margin:12px 0 0 10px;}
.hyperlinks-list li { line-height:16px; display:list-item; margin: 0; padding:6px 4px;  }
.hyperlinks-list li:hover { background-color:#aaa; }
.hyperlinks-list li a { text-decoration:none; padding: 2px 1px 1px 3px; color:#111; }

.hyperlinks-list li .tiny-edit-btn {
	display:none;
}

.hyperlinks-list li:hover .tiny-edit-btn {
	display:inline;
}

.hyperlinks-header {
	display:block;
	border-bottom: 2px solid #777;
	font-size:11px;
	padding:0;
	height:20px;
}

.hyperlinks-user {
	background-color: #777;
	color:#fff;
	margin:0;
	border:0;
	padding: 1px 4px;
	vertical-align:bottom;
	height:12px;
}
