<% layout( 'layout' ) -%>

<script type="text/javascript"> 

// render markdown
		$('.mark').each(function(i, val){
				$(val).html(markdown.toHTML($(val).text()))
		});

</script>


<div class="jumbotron">
	<div class="container">
		<h2>About</h2>
		<p></p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">

### Konzeption & Realisierung

* **Niels Seidel**, 
([niels.seidel@tu-dresden.de](mailto:niels.seidel@tu-dresden.de)),
TU Dresden, Internationales Hochschulinstitut Zittau, Professur für Produktionswirtschaft und Informationstechnologie
* Software: [Vi-Lab](https://github.com/nise/vi-lab)

### Inhalt

* Corinna Hetmank, TU Dresden, Lehrstuhl für Wirtschaftsinformatik, insb. Informationsmanagement 
* Enrico Teich, TU Dresden, Internationales Hochschulinstitut Zittau, Professur für Produktionswirtschaft und Informationstechnik
* Niels Seidel, TU Dresden, Internationales Hochschulinstitut Zittau, Professur für Produktionswirtschaft und Informationstechnik

### Studienleiter
* **Niels Seidel**, 
([niels.seidel@tu-dresden.de](mailto:niels.seidel@tu-dresden.de)),
TU Dresden, Internationales Hochschulinstitut Zittau, Professur für Produktionswirtschaft und Informationstechnologie

### Einwilligungserklärung
Registrierte Nutzer haben freiwillig der Erhebung von Daten zugestimmt, die während der Benutzung dieser Anwendung entstehen. Registrierung, die keine schriftliche Einwilligung gegeben haben, sind von der Datenerhebung ausgeschlossen. Die Erhebung und Auswertung der Daten geschieht im Rahmen eines Forschungsprojekts. 

Details dazu sind in der [Einwilligungserklärung](/static/uploads/2016_Einwilligungserklaerung.pdf) festgehalten.
		</div>	
	</div>
</div>	



    
