
<script type="text/javascript"> 

// render markdown
		$('.mark').each(function(i, val){
				$(val).html(markdown.toHTML($(val).text()))
		});

</script>


<div class="jumbotron">
	<div class="container">
  <h2>About</h2>
  <p></p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">

### Konzeption
Niels Seidel

### Realisierung
* Lerninhalte: 
 * Prof. Dr. Ralf Sonntag, HTW-Dresden
 * Matthias Heinz, HTW-Dresden
 * Anna Jantos, TU Dresden
* Software: Niels Seidel, [Vi-Lab](https://github.com/nise/vi-lab)

### Kontakt
**Niels Seidel**, 
niels.seidel [at] tu-dresden.de
TU Dresden, Internationales Hochschulinstitut Zittau, Professur für Produktionswirtschaft und Informationstechnologie

</div>	
	</div>
</div>	



    
