


<h2>Script</h2>
<span id="status"></span>
<table class="script-table" id="table1"></table>

<script> 
/*
	*
	* @todo
	* viz-annotations per video
	* edit annotations per video
	* apply settings per row/group and column/instance
	* sort groups
	* select phases
	* save/reset/undo results
	**/

var phase = 1, data = {}, val = {}, tab = '#table1', tab_cell, tab_row, tab_head;
		jQuery.ajax({
      type: "get",
      beforeSend: function(xhr){
      	$('#status').text('loading ...'); 
  				if (xhr.overrideMimeType){
				    xhr.overrideMimeType("application/json");
  				}
			},
      url: '/json/admin/script-info',
      dataType: 'json',
      success: function(the_data){
      	$('#status').text('');
      	data = the_data 
      	var arr2 = [];
      	// column header
    		tab_head = $('<thead></thead>')
    			.append( $('<td></td>').text( 'Video Instances') )
    			.appendTo( tab )
    			;
    		for(var j = 0; j < data.videos.length; j++){	
    			tab_cell = $('<td></td>').text( data.videos[j].id ).appendTo( tab_head );
    		}
    		// rows
      	for(var i = 0; i < data.groups.length; i++){
      		arr2[i] = [];
      		// first column
      		tab_row = $('<tr></tr>')
      			.append( $('<td></td>').text( 'Group '+data.groups[i].id ) );
      		// cells
      		for(var j = 0; j < data.videos.length; j++){
      			var tab_cell = $('<td></td>')
							.appendTo( tab_row )
							;	
      			if( data.groups[i].videos.indexOf( data.videos[j].id ) >= 0 ){
      				tab_cell
      					.text( data.videos[j].id )
      					.addClass('visible-cell')
      					;
      			}
      		}
      		$(tab).append( tab_row );
      		
      	}
				//alert( JSON.stringify(arr2) )
      	//buildTable( arr2, '#table1' );
			},
			error : function(e) {
				alert(JSON.stringify(e))
			}
		}); // end ajax

/*
**/
function buildTable(arr, tab){
	for(var row = 0; row < arr.length; row++ ){

			var tab_row = $('<tr></tr>');
			for(var cell = 0; cell < arr[row].length; cell++ ){
					var tab_cell = $('<td></td>')
						.css({ border:"solid 1px #ccc"})
						.appendTo( tab_row );	
					if( ! arr[row][cell].empty ){
						tab_cell.text('vis');
					}	
				
			}
			$(tab).append( tab_row );
	}
}

/*
**/
function getVideoOfId(id){ 
	for(var i = 0; i < arr.length; i++){ 
		if( Number(arr[i].id) === Number(id) ){
			return arr[i]; 
		}
	}
	return { empty:true };
}

		
</script>
