
<div class="col-md-10">
<h2>Add new video </h2>

<div class="edit-form">
      
      <form action="/videos/create" method="post" accept-charset="utf-8">
    	<br>
			<div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Title</span>
				<input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" name="title" value="">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Source URL</span>
				<input type="text" class="form-control" placeholder="video" aria-describedby="sizing-addon1" name="video" value="">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Author/publisher</span>
				<input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon1" name="author" value="">
      </div>
      <br>
      <div class="form-group">
				<span class="input-group-addon" id="sizing-addon1">Description</span>
				<textarea class="form-control" rows="5" id="" name="abstract"></textarea>
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Category</span>
				<input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" name="category" value="">
      </div>
      <% id = Math.random()*9999 %>
      <input type="hidden" name="id" value="" />
      <br><br>
      <div class="buttons">
        <button class="btn btn-default" type="submit">save</button>  <a href="javascript:render('admin-videos', '/json/videos', true, '.admin-panel');">cancel</a>
      </div>
    </form>
	</div>
</div>


 

