
<h2>Video-Kommentare</h2>


<script> 
$(document).ready (function () { 
$('#table1').bootstrapTable({
    url: '/json/admin/videos',
    onLoadError : function(e){ alert(JSON.stringify(e)); },
    //    onLoadSuccess : function(e){ alert(JSON.stringify(e)); },
    //height:'500',
    showColumns : true,
    checkboxHeader : true,
   // cardView:true, // mobile view
    showExport:true,
    exportDataType:'selected',
    exportOptions: {
    	consoleLog: false,
			csvEnclosure: '"',
			csvSeparator: ',',
			csvUseBOM: true,
			displayTableName: false,
			escape: false,
			excelstyles: [ 'css','properties','to','export','to','excel' ],
			fileName: 'tableExport',
			htmlContent: false,
			ignoreColumn: [],
			ignoreRow: [],
			onCellData: null,
			outputMode: 'file',
			tbodySelector: 'tr',
			theadSelector: 'tr',
			tableName: 'myTableName',
			type: 'csv',
			worksheetName: 'xlsWorksheetName'
    },
    // search
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    
    // details
    detailView : true,
    detailFormatter : function(index, row) {
    	var comments = row.comments; 
    	var len = comments.length;
    	var el = $('<div></div>');
    	for(var i = 0; i < len; i++){
    		$(el).append( decodeURIComponent(comments[i].comment) ).append('<br>').append('<br>');
    	}
			return $(el).html();
		},
		//onClickRow : function(row, el){ alert(row._id); },
    onClickCell : function(field, value, row, el){ 
    	if(field==='modultitel'){ 
    		alert(row._id);
    	} 
    },
    columns: [
   	{ field: 'id', title: 'Id', sortable : true, order: 'asc',searchable : true },
   	{ field: 'comments.length', title: 'comments', sortable : true, order: 'asc',searchable : true }
   /* { field: 'modultitel', title: 'Modulbezeichnung', sortable : true, order: 'asc',searchable : true }, 
    { field: 'modulnr1', title: 'Modulnummer', visible:false, sortable : true, order: 'asc',searchable : true }, 
    { field: 'modulnr2', title: 'Modulnummer 2', visible:false, sortable : true, order: 'asc',searchable : true }, 
    { field: 'courses', title: 'Studiengang',sortable : true, order: 'asc',searchable : true }, 
    { field: 'type', title: 'BA/MA',sortable : true, order: 'asc',searchable : true }, 
    { field: 'university', title: 'Hochschule',sortable : true, order: 'asc',searchable : true }, 
    { field: 'language', title: 'Sprache',sortable : true, order: 'asc',searchable : true }, 
    { field: 'sws_total', title: 'SWS',sortable : true, order: 'asc',searchable : true }, 
    { field: 'workload', title: 'Workload',sortable : true, order: 'asc',searchable : true }, 
    { field: 'workload_self', title: 'Workload Selbst',sortable : true, order: 'asc',searchable : true }, 
    { field: 'ects', title: 'ECTS',sortable : true, order: 'asc',searchable : true }, 
    { field: 'summer_winter', title: 'Semester',sortable : true, order: 'asc',searchable : true }, 
    { field: 'modulverantwortlicher', title: 'Modulverantwortliche/r',sortable : true, order: 'asc',searchable : true }, 
    { field: 'mail', title: 'E-Mail',sortable : true, visible:false, order: 'asc',searchable : true }, 
    { field: 'lecturers', title: 'Weitere Dozenten',sortable : true, visible:false, order: 'asc',searchable : true }, 
    { field: 'comments', title: 'Kommentar',sortable : true, order: 'asc',visible:false, searchable : true }, 
    { field: 'updated_at', title: 'Letzte Änderung',sortable : true, visible:false, order: 'asc',searchable : true }, 
    */
    

    
    ]
	});
});

</script>

<table id="table1"></table>



