


<footer>
  <div class="container">
		<p>Die Qualifizierung von E-Tutoren ist an der TU Dresden eine gemeinsame Lehrveranstaltung des Lehrstuhl für Wirtschaftsinformatik, insb. Informationsmanagement (WIIM) und der Professur für Produktionswirtschaft und Informationstechnik (PWIT).</p> 
		<p>Social Video Plattform VI-LAB: Niels Seidel, PWIT, TU Dresden</p>
		<p>Videos: © Corinna Hetmank, WIIM, TU Dresden.</p>  
  </div>
</footer>
