<footer>
  <div class="container">
		<!--<p>B2B-Marketing ist eine Lehrveranstaltung der Professur Marketing, insbesondere Multimedia-Marketing an der HTW Dresden</p> -->
		<p>Social Video Plattform VI-LAB: Niels Seidel, Professur für Produktionswirtschaft und Informationstechnik (PWIT) an der TU Dresden</p>
  </div>
</footer>
