<% layout( 'layout' ) -%>

<h2>Kollaboratives Schreiben</h2> 
  <p style="width:800px;">
  Bitte schauen Sie sich das Video an. Sie können dieses wieder taggen und kommentieren. Diskutieren anschließend in Ihrer Gruppe folgende Frage: Welche der aus Video 2 bekannten Werkzeuge sollten in den einzelnen Phasen der Gruppenentwicklung nach Tuckmann (1965) und Stahl (2002) gewählt werden, um die jeweils darin ablaufenden Prozesse optimal zu unterstützen? Fassen Sie Ihre Werkzeugempfehlung inkl. einer kurzen Begründung in diesem kollaborativen Schreibtool zusammen. (Gruppenarbeit je Konstellation, 2-3 Personen)
  </p><!--  http://176.10.37.68/ -->
  <% if (error) { %> 
  	<p style="width:800px;color:red;">Das Schreibwerkeug steht gegenwärtig nicht zur Verfügung. Bitte wenden Sie sich an <a href="mailto:niels.seidel@tu-dresden"> Herrn Seidel</a></p> 	
  <% }else{ %>
		<iframe name='embed_readwrite' src='<%= host %>:9001/p/<%= padID %>?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false&sessionID=<%= session %>&userName=<%= author %>' width=800 height=600></iframe>
	<% }%>
  
  <% if (solution ) { %>
		<p style="width:800px;">
		<h2>Lösungsvorschlag</h2>
			<table class="etherpad-table" border="0" cellspacing="0" cellpadding="0" >
				<colgroup><col width="150"/><col width="250"/><col width="250"/><col width="250"/></colgroup>
				<tr class="Table11">
				<td 
				<td class="ep-table-cell bold">Phase der Gruppen-entwicklung</td>
				<td class="ep-table-cell bold">Aufgaben</td>
				<td class="ep-table-cell bold">Wichtige Kriterien für das auszuwählende Werkzeug</td>
				<td class="ep-table-cell bold">Geeignete Werkzeuge</td></tr>
				<tr>
				<td class="ep-table-cell bold">Forming</td>
				<td class="ep-table-cell"><ul><li>Vorstellung der eigenen Person </li><li>Zusammenfinden in der Gruppe </li><li>Kennenlernen der anderen Gruppenmitglieder </li><li>Schaffen eines Gemeinschaftsgefühls </li></ul></td>
				<td class="ep-table-cell"><ul><li>Profildarstellung </li><li>Bildung einer Community </li><li>Kennenlernen ist durch informellen Austausch geprägt (Small-Talk). </li><li>Natürliche Sequenz einer Unterhaltung sollte gewahrt bleiben. </li><li>Ziel ist ein umfassender erster Eindruck (Wie seht er/sie aus?, Wie spricht er/sie?, usw.). </li></ul></td>
				<td class="ep-table-cell"><ul><li>kollektive Plattform </li><li>synchrone kommunikations­unterstützende Werkzeuge, die viele Kommunikationskanäle beinhalten (z.B. Video-/Audio-konferenz) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell bold">Storming</td>
				<td class="ep-table-cell"><ul><li>Äußern der eigenen Erwartungen und Ziele </li></ul></td>
				<td class="ep-table-cell"><ul><li>Eigene Ziele und Erwartungen müssen zunächst bewusst gemacht und dann geäußert werden. Es sollte daher ein Werkzeug gewählt werden, welches vorab einen längeren Überlegungs- und Formulierungs­prozess ermöglicht. </li></ul></td>
				<td class="ep-table-cell"><ul><li>asynchrone koordinations­unterstützende Werkzeuge (z.B. Forum) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell bold"rowspan="2">Norming</td>
				<td class="ep-table-cell"><ul><li>Aushandlung der Gruppenregeln und des Projektplans </li></ul></td>
				<td class="ep-table-cell"><ul><li>Diskussion der Regeln wird durch natürliche Sequenz einer Unterhaltung erleichtert. </li><li>Entscheidung zugunsten ausgewählter Regeln erfordert schnelle Feedbackmöglichkeiten (Zustimmung oder Ablehnung). </li></ul></td>
				<td class="ep-table-cell"><ul><li>synchrone kommunikations­unterstützende Werkzeuge (z.B. Chat, Video-/ Audiokonferenz) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Dokumentation der Regeln </li></ul></td>
				<td class="ep-table-cell"><ul><li>Dokumentation entweder simultan zum Abstimmungs-prozess oder im Nachhinein. </li><li>Um Verständlichkeit für alle zu gewährleisten, sollte ein nach-trägliches Ändern möglich sein. </li></ul></td>
				<td class="ep-table-cell"><ul><li>kooperationsunterstützende Werkzeuge zur gemeinsamen Erstellung von Inhalten (z.B. Wiki, Gruppeneditoren) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell bold" rowspan="7">Performing</td>
				<td class="ep-table-cell"><ul><li>Recherchieren lösungsrelevanter Informationen </li></ul></td>
				<td class="ep-table-cell"><ul><li>Individuen recherchieren zunächst alleine und stellen den anderen Gruppenmitgliedern gefundene Quellen zur Verfügung. </li></ul></td>
				<td class="ep-table-cell"><ul><li>kooperationsunterstützende Werkzeuge für das Collective <span class="T2">Notetakting (z.B. Notes, Social Bookmarking) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Zusammentragen lösungsrelevanter Informationen </li></ul></td>
				<td class="ep-table-cell"><ul><li>Identifizierte Inhalte sollen zusammengefasst und in der Gruppe zur Diskussion gestellt werden. </li></ul></td>
				<td class="ep-table-cell"><ul><li>asynchrone kommunikations­unterstützende Werkzeuge (z.B. Forum) </li><li>kooperationsunterstützende Werkzeuge zur gemeinsamen Erstellung von Inhalten (z.B. Wikis) </li></ul></td></tr>
				<tr>
				<td rowspan="2" ><ul><li>Ggf. Kreativitätsprozesse/ Brainstorming </li></ul></td>
				<td class="ep-table-cell"><ul><li>Um möglichst viele Ideen zu sammeln, sollte simultane Äußerung möglich sein. </li><li>Die Strukturierung der Ideen ist zunächst nicht wichtig. </li></ul></td>
				<td class="ep-table-cell"><ul><li>synchrone kommunikations­unterstützende Werkzeuge, in denen Wortmeldungen gleichzeitig möglich sind (z.B. Chat) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Für die weitere Diskussion sollten Ideen anschließend strukturiert und für alle einsehbar gemacht werden. </li></ul></td>
				<td class="ep-table-cell"><ul><li>asynchrone koordinations­unterstützende Werkzeuge (z.B. Forum) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Diskutieren einer gemeinsamen Problemlösung </li><li>Entscheidung zugunsten einer gemeinsamen Problemlösung </li></ul></td>
				<td class="ep-table-cell"><ul><li>Diskussion der Regeln wird durch natürliche Sequenz einer Unterhaltung erleichtert. </li><li>Entscheidung zugunsten ausgewählter Problemlösungen erfordert schnelle Feedback­möglichkeiten (Zustimmung oder Ablehnung). </li></ul></td>
				<td class="ep-table-cell"><ul><li>synchrone kommunikations­unterstützende Werkzeuge (z.B. Chat, Video-/ Audio­konferenz) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Dokumentation der Problemlösung </li></ul></td>
				<td class="ep-table-cell"><ul><li>Lösungen sollten gut durchdacht sein und von allen bearbeitet werden können. </li></ul></td>
				<td class="ep-table-cell"><ul><li>kooperationsunterstützende Werkzeuge zur gemeinsamen Erstellung von Inhalten (z.B. Wiki, Gruppeneditoren) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell"><ul><li>Präsentation der Problemlösung </li></ul></td>
				<td class="ep-table-cell"><ul><li>Idealerweise sollte die Lösung allen Interessierten gleichzeitig präsentiert und die Möglichkeit für Rückfragen gegeben werden. Schnelle Feedbackmöglichkeiten  sind daher hilfreich. </li></ul></td>
				<td class="ep-table-cell"><ul><li>synchrone kommunikations­unterstützende Werkzeuge (z.B. Chat, Video-/ Audio­konferenz) </li></ul></td></tr>
				<tr>
				<td class="ep-table-cell bold">Re-Forming</td>
				<td class="ep-table-cell"><ul><li>Reflektieren und Auswerten des Gruppenprozesses </li></ul></td>
				<td class="ep-table-cell"><ul><li>Es geht um die subjektive Sicht auf das Erlebte/ die Zusammen-arbeit in der Gruppe. Diese wird nach außen getragen und muss nicht zwangsläufig diskutiert werden. </li><li>Reflexion setzt Nachdenken sowie ein kritisches Hinterfragen voraus. Die Einschätzung des Gruppen­prozesses erfolgt nicht ad hoc. </li></ul></td>
				<td class="ep-table-cell"><ul><li>asynchrone Werkzeuge zur Erstellung von Inhalten, die auf das Subjekt als Sender fokussieren (z.B. Blog). </li></ul></td></tr>
			</table>
	  </p>
	<% } %>	  
  
