<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Willkommen beim B2B-Marketing</h2>
  </div>
</div> 

<div class="container">
	<div id="warning" class="col-md-8 mark" style="color:red"></div>
	<!--<div class="row">-->
		<div class="col-md-8 mark">

[Hier gehts zu den Lerninhalten der Onlinephase](/content)

**Präsenztermine**

- 17. März Kick-off
- 24.März
- 7. April, ab 18:00 Uhr
- 14. April
- 28. April, ab 17:30 Uhr
- 12. Mai
- 26. Mai
- 16. Juni
- 30. Juni

**Kontakt**

Bei inhaltlichen oder organisatorischen Fragen wenden Sie sich bitte an [Prof. Dr. Ralf Sonntag](mailto:sonntag@htw-dresden.de).

In technischen Angelegenheit betreffs dieser Plattform kontaktieren Sie bitte [Niels Seidel](mailto:niels.seidel@tu-dresden.de).
		</div>	
	<!--</div>-->
</div>	
<script>
$(document).ready(function() {
	if ( $.browser.opera || $.browser.msie || $.browser.safari) {
    $('#warning').html('<b>Sie benutzen '+ ($.browser.msie ? 'Microsoft Internet Explorer' : 'Opera') +' als Browser.</b> <br/>Da es sich bei der Anwendung um einen Prototypen handelt, ist die Funktion in dem von Ihnen verwendeten Browser derzeit nur eingeschränkt möglich. <br> Wir bitten Sie daher Mozilla Firefox oder Google Chrome zu verwenden. <br/> Vielen Dank für Ihr Verständnis.')
  }
});
</script>



