<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Willkommen beim B2B-Marketing</h2>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">

## Zeitlicher Ablauf

## Kontakt
		</div>	
	</div>
</div>	




