<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Willkommen bei der e-Tutoren-Qualifikation</h2>
  </div>
</div> 

<div class="container">
	<div id="warning" class="col-md-8 mark" style="color:red"></div>
	<!--<div class="row">-->
		<div class="col-md-8 mark">

[Hier gehts zu den Lerninhalten der Onlinephase](/content)

**Ablaufplan**

* 13.10.2016        Einführung* * * * *     Hörsaal 1.10
* 20.10.2016        Abgabe und Präsentation Aufgabe A* *   Hörsaal 1.10
* 27.10.2016        Fakultative Sprechstunde Aufgabe B* *   Büro Hr. Teich (Campus Schulstraße)
* 03.11.2016        Abgabe und Präsentation Aufgabe B* *   Hörsaal 1.10
* 11.11.2016        Fakultative Sprechstunde Aufgabe C* *   Büro Hr. Teich (Campus Schulstraße)
* 17.11.2016        Abgabe und Präsentation Aufgabe C* *   Hörsaal 1.10
* 24.11.2016        Fakultative Sprechstunde Aufgabe D* *   Büro Hr. Teich (Campus Schulstraße)
* 01.12.2016        Abgabe und Präsentation Aufgabe D* *   Hörsaal 1.10
* 08.12.2016        Fakultative Sprechstunde Aufgabe E* *   Büro Hr. Teich (Campus Schulstraße)
* 15.12.2016        Abgabe und Präsentation Aufgabe E* *   Hörsaal 1.10
* 05.01.2017        Ausgabe und Besprechung Abschlussaufgabe* Hörsaal 1.10
* 12.01.2017        Fakultative Sprechstunde Abschlussaufgabe*    Büro Hr. Teich (Campus Schulstraße)
* 19.01.2017        Fakultative Sprechstunde Abschlussaufgabe*    Büro Hr. Teich (Campus Schulstraße)
* 26.01.2017        Fakultative Sprechstunde Abschlussaufgabe*    Büro Hr. Teich (Campus Schulstraße)
* 02.02.2017        Abgabe und Präsentation Abschlussaufgabe*    Hörsaal 1.10

**Kontakt**

Bei inhaltlichen oder organisatorischen Fragen wenden Sie sich bitte an [Enrico Teich](mailto:enrico.teich@tu-dresden.de) oder [Corinna Hetmank](mailto:corinna.hetmank@tu-dresden.de).

In technischen Angelegenheit betreffs dieser Plattform kontaktieren Sie bitte [Niels Seidel](mailto:niels.seidel@tu-dresden.de).
		</div>	
	<!--</div>-->
</div>	
<script>
$(document).ready(function() {
	if ( $.browser.opera || $.browser.msie || $.browser.safari) {
    $('#warning').html('<b>Sie benutzen '+ ($.browser.msie ? 'Microsoft Internet Explorer' : 'Opera') +' als Browser.</b> <br/>Da es sich bei der Anwendung um einen Prototypen handelt, ist die Funktion in dem von Ihnen verwendeten Browser derzeit nur eingeschränkt möglich. <br> Wir bitten Sie daher Mozilla Firefox oder Google Chrome zu verwenden. <br/> Vielen Dank für Ihr Verständnis.')
  }
});
</script>



