<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Willkommen beim B2B-Marketing</h2>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">


# Themenblock 1: Einordnung

#### Einordnung in die Volkswirtschaftslehre

[Kap 1 Weiber/Kleinaltenkamp]() (PDF)


#### Video-Marketing im B2B
**Video:** [www.businessworld.de](https://www.youtube.com/watch?v=JZVMA2riYCc)

> Martin Hausmann, Projektleiter businessworld.de im Gespräch mit Christian Schmitt von medie-treff.de auf der Internet World 2009 über das Portal für Business-Videos. Immer mehr Unternehmen nutzen Videos als Marketinginstrument. Das Portal businessworld.de ist ähnlich wie YouTube & Co. Hosting- und Vermarktungsplattform für Videos nur in einem ausgesprochenen professionellen B2B-Umfeld. Businessworld.de verzeichnet steigende Nutzerraten. Der Vorteil von Videos gegenüber anderen Marketing-Instrumenten liegt klar in der Emotionalen Seite und in der Tatsache, dass sich manche Informationen besser durch Bild und Ton vermitteln lassen als durch ein Prospekt.

**Video:** [Video Marketing in the B2B Marketplace](https://vimeo.com/107208775)

> A brief video discussing the importance and power of video marketing with regard to business to business.


**Video:** [B2B-Marketing](https://www.youtube.com/watch?v=kQqktXqAqTE&index=1&list=PLF_lAUMsSfsMJ3BvBxmExgDBstphlOwPL)
 von Prof. Dr. Daniel Wentzel, RWTH Aachen



**Video:** [B2B marketing in a digital world](https://www.youtube.com/watch?v=-nTkBhsUIRQ ) 

> Richard Robinson, Head of Business Markets, Google UK presents an animated video about the way in which business is changing in a new digital age.


#### Typologie

- [Kap 1 Eckardt]() (PDF)
- [Teil 3 A Backhaus/Voeth]() (PDF)

#### Videos im B2B-Marketing
[Welcher Inhalt macht Kunden glücklich?](http://t3n.de/news/b2b-marketing-video-575783/)
		</div>
	</div>
</div>




