<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/screen.css' />
    <link rel='stylesheet' id='vi-lab_cust-css' href='css/theresienstadt.css' type='text/css' media='all' />
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>
    <div id="footer-wrap">
      <div id="footer">
     		<div class="footer-content">&#169;</div>
     	</div>
    </div>
  </body>
</html>
