<% layout( 'layout' ) -%>

<div class="jumbotron"></div> 
<div class="container">
	<div class="row">
		<h4>New message</h4>
		<form
			id="messageCreateForm" 
			action="/com/message/create"
			method="POST"
			accept-charset="utf-8" 
		> 
		<select placeholder="Recipient" class="message-recipient" id="selectRecipients" multiple="multiple"></select>
		<!--<br>
		<b>Subject:</b>
		<div class="sec tab-pane">
		 <input type="text" class="message-subject" name="subject" />
		</div>
		-->
		<br>
		<div class="">
		 <textarea class="message-content" placeholder="Your message" name="message" id=""></textarea>
		</div>
		<div class="buttons">
			<button type="submit" class="message-send btn-primary btn-xs btn">send</button>  
		</div>
		</form>
		<br/>
		<div id="mymessages"><div>
		<div class="col-md-6 phase" id="messages"></div>
	</div>
</div>		






		

<script>
$(document).ready(function() {

	$.get('/json/com/messages', function(data){ 
		require(['text!../views/messages-index.ejs', 'ejs'], function(thetemplate) { 
			var 
				html = ejs.render(thetemplate, data )
			;
			$('#mymessages').html( html );
		});			
	});

	$.get('/json/com/users', function(data){ 
	 		for(var i = 0; i < data.length; i++){
				var t = $('<option></option>')
					.attr('value', data[i]._id )
					.attr('name', 'recipient')
					.text(  data[i].firstname+' '+data[i].name )
					.appendTo( '#selectRecipients' )
					;
			} 
			$('#selectRecipients').select2()
			 ;
	});
	
	
	var frmMeta = $('#messageCreateForm');
	frmMeta.submit(function(e) { 
		e.preventDefault();
		var rec = [];
		$(this).find('.message-recipient').find(':selected').each(function(i, val){
			rec.push( $(this).attr('value') );
		})
		var data = {
			//author: Schema.ObjectId,
		  recipient: rec,
		 // phase: Number,
		  visibility: 'all',//{ type: String, enum: [ 'personal', 'editor', 'group', 'all' ] },
		  subject:  $(this).find('.message-subject').val(),
		 // type: String,
		  message: $(this).find('.message-content').val()
		}
		
		$.ajax({
			type: "POST", 
			url: frmMeta.attr('action'),
			data: data,
			error: function(xhr) {
				console.log(xhr)
			},
			success: function(res) { 
				// redirect 
				window.location.href = '/content';
			}
		});
		return false;
	});
		 
});	

</script>
