<% layout( 'layout-scenes' ) -%>
 
 NOT COMPLETE!!
 
<h1><%= title %></h1>
<form action="/scenes/create" method="post" accept-charset="utf-8">
  <input type="text" name="title" />
  <input type="text" name="number" />
  <input type="text" name="description" />
  <button type="submit">add new scene</button>
</form>
 

