


<div class="jumbotron">
	<div class="container">
	<h2>Entstehungsgeschichte</h2>     
  <p>Quelle: Eva Strusková, Jana Šplíchalová, Tomáš Fedorovič, Václav Kofroň: Wahrheit und Lüge. Dreharbeiten im Ghetto Theresienstadt 1942–1945. Jüdisches Museum in Prag & Nationalfilmarchiv (Hsg.). 2013.</p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8"> 

   <h3 class="timelineMajorMarker">
			1942
		</h3>
<dl class="timelineMinor">
			<dt id="event02"><a>August / September</a></dt>
			<dd class="timelineEvent" id="event01EX"">
	
			<p>
Mehrere jüdische Ghettohäftlinge, einschließlich der Prager Filmemacherin Irena Dodalová, erhalten den Auftrag, ein Drehbuch für den Film über das Ghetto zu schreiben. Die Synopsis Rohentwurf einer Filmreportage. Ghetto Theresienstadt, an der sie mit Jindřich Weil, Petr Kien und Adolf Aussenberg zusammengearbeitet hatte, wurde in Berlin abgelehnt. Sie überarbeiten dort den Entwurf, Petr Kien erarbeitet dann eine andere Version des Skripts, wo der Transfer des jüdischen Volkes aus Prag nach Theresienstadt durch inszenierte Geschichte der Familie Holländer gezeigt wird.  
 </p>
			</dd>
		</dl>
		<dl class="timelineMinor">
			<dt id="event02"><a>November</a></dt>
			<dd class="timelineEvent" id="event01EX"">
	
			<p>
				Eine Gruppe von deutschen Kameraleuten aus Berlin kommt nach Prag, die Dreharbeiten beginnen unter der
				Leitung von SS-Obersturmführer Herbert Otto, und zwar in der Sttreschowitzer Zentralstelle in der Jüdischen Kultusgemeinde (7. 11.), der
				Alt-Neuen Synagoge und an anderen Orten in Prag. An den Dreharbeiten hat sich neben einer Reihe von jüdischen Bürgern unter anderem auch
				František Zelenka beteiligt. Neben Aufnahmen <span class="nz">für den Film</span> wird selbst der Verlauf der Dreharbeiten festgehalten.
			</p>
			<p>
				Die Ankunft der Filmemacher in Theresienstadt zeichnet Egon Redlich in seinem Tagebuch (9. 11.) auf. <span class="nz">Auf Befehl</span> wird eine Filmgruppe von jüdischen Häftlingen gebildet, für die Organisierung der Dreharbeiten sorgt unter Aufsicht der <span class="nz">SS-Angehörigen</span>
				und der Kommandantur Irena Dodalová.
			</p>
			<p>
				Die Technische Abteilung baut einen Wagen für die Kamera und einen Schneidetisch, denn es ist entschieden
			worden, dass Irena Dodalová den Schnitt des Filmmaterials im Ghetto durchführen müsse.
			</p>
			<p>
				 Die Dreharbeiten erfolgen ohne Tonaufnahmegerät und deren Verlauf wird von Kameramann und
			<span class="nz">SS-Hauptsturmführer</span> Olaf Sigismund auf 16-mm-Film aufgenommen.
			</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event03"><a>Dezember</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
			Nach Angaben von Hanuš Král erfordert die Führung in Berlin Ende Dezember telefonisch, dass die Arbeit an dem
			Film sofort abgeschlossen wird, ohne Rücksicht auf die Krankheit der Irena Dodalová. Während der Bearbeitung des Films, die überwacht wird,
			bringt Dodalová heimlich eine Schachtel mit Filmbildern heraus <span class="nz">und verbirgt</span> sie im Ghetto. Der Film, dessen Dienstexemplar nach Berlin
			geschickt worden ist, wird wohl nie fertig.
		</p>
		</dd>
	</dl>
 
		<h3 class="timelineMajorMarker">
			1943
		</h3>
		<p>
			Während der Vorbereitungen für die Ankunft der Inspektion des Internationalen Komitees des Roten Kreuzes
			entsteht wohl am <i>Zentralamt für die Regelung der Judenfrage in Böhmen und
			Mähren</i> die Absicht, einen Propagandafilm im Ghetto zu drehen, das von höheren Behörden in Berlin
			genehmigt worden ist.
		</p>
			</dd>
		</dl>
		
		
		<dl class="timelineMinor">
			<dt id="event01"><a>Oktober / November</a></dt>
			<dd class="timelineEvent" id="event01EX"">
	
		<p>
		Der junge Kameramann Jindřich Weil ist beauftragt, ein Drehbuch übrer das Ghetto zu schreiben. Er bereitet
		zwei Versionen samt dem Text des Begleitkommentars vor, dazu noch einen Überblick von Orten, an denen die Dreharbeiten erfolgen sollen.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Dezember</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		<p>
			Begleitet von seinen Kumpanen besucht SS-Sturmbannführer Hans Günther das Büro der Aktualita auf dem
			Wenzelsplatz und gibt Direktor Karel Pečený den Befehl, sich der Dreharbeiten an einem Film über das Ghetto in Theresienstadt nach dem
			mitgelieferten Drehbuch anzunehmen. In den Kassendokumenten der Aktualita wird die Bestellung unter &quot;Z&quot; geführt (<i>Zentralstelle für jüdische Auswanderung</i>), dh. unter
			dem älteren Namen der Stelle.
		</p>
			</dd>
		</dl>
		
		
		<h3 class="timelineMajorMarker">
			1944
		</h3>
		<dl class="timelineMinor">
			<dt id="event01"><a>Januar</a></dt>
			<dd class="timelineEvent" id="event01EX"">
	
		<p>
			Im Januar 1944 fuhren fünf Angestellte der Aktualita einschließlich Karel Pečený nach Theresienstadt, wo sie reportagenartig die Ankunft des
			niederländischen Transports festhielten. Danach unterschrieben sie das Versprechen der Verschwiegenheit. Der
			zweiundzwanzigjährige Schnittmeister und Kameramann Ivan Frič gewinnt heimlich eine Anzahl von Filmaufnahmen und versteckt sie.
		</p>
			</dd>
		</dl>




		<dl class="timelineMinor">
			<dt id="event01"><a>Februar</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
			Aus dem Internierungslager Westerbork wird zusammen mit anderen Niederländern der beliebte deutsche
			Schauspieler und Regisseur Kurt Gerron (26. 2.) nach Theresienstadt transportiert.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>März</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Irgendwann im Frühjahr wird der 450 m lange Bericht der Aktualita Heinrich Himmler vorgeführt und dieser
		befehlt den Film zu vernichten. Die Existenz der Dreharbeiten werden weiterhin nur Fotos des tschechischen Kameramanns bezeugen.
		</p>
		<p>
		Mitglied des Ältestenrates Benjamin Murmelstein bekommt Weils Drehbuch zur Beurteilung und versucht es
		fertigzustellen.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Juni</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		In die Kulissen von Theresienstadt, zu dessen &quot;Verschönerung&quot; man mehrere Monate gearbeitet hat,
		kommt das Internationale Komitee des Roten Kreuzes. Seine Mitglieder werden zu Zuschauern einer sorgfältig eingeübten &quot;Vorstellung&quot;
		über das Leben der eingesperrten im Wohlstand lebenden Juden (23. 6.).
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Juli</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Karel Pečený kommt nach Theresienstadt, um das Ghetto zu inspizieren. Hans Günther verspricht ihm die
		Anlieferung des Drehbuchs. Kurt Gerron wird vom Leiter der SS-Dienststelle in Theresienstadt Karl Rahm beauftragt, das Drehbuch zu schreiben
		und sich der Regie des Films über Theresienstadt anzunehmen. <span class="nz">Nach Besprechung</span> mit dem Ältestenrat akzeptiert er den Vorschlag. An dem Drehbuch ist auch Manfred Greiffenhagen beteiligt.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>August</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
			Aktualita-Angestellte kommen nach Theresienstadt. An den Dreharbeiten, die unter persönlicher Aufsicht
			von Hans Günther und Karl Rahm verlaufen, beteiligt sich eine ausgewählte Gruppe von jüdischen Häftlingen unter der Leitung von Kurt Gerron.
			Den Verlauf der Dreharbeiten dokumentiert in seinen Zeichnungen der niederländische Maler Jo Spier, an der Ausstattung beteiligt sich der
			Architekt František Zelenka.
		</p>

		<p>
			Den Verlauf der weiteren Ereignisse haben einige Gefangene, wie zum Beispiel Egon Redlich und Willy Mahler,
			in ihren Tagebüchern aufgezeichnet. Ihren Notizen nach hat man am ersten Tag der Dreharbeiten neben den Ereignissen vor dem Kinderheim die
			Ankunft von Paketen in Theresienstadt, Ausübung der Feuerwehrleute und zwei kulturelle Programme aufgenommen (16. 8).
		</p>
		<p>
			Auf Befehl werden all die Ghettobewohner, die persönliche Einladung zur Teilnahme an den Dreharbeiten
			empfangen, zu Statisten des Films. Aus dem Ghetto werden unter Überwachung an die 1.800 Juden in den Drabschnitzer Kessel hinausgeführt, wo
			eine Revueshow, unter anderem mit Kurt Gerron gedreht wird (19. 8).
		</p>
		<p>
		 Es wird ein Konzert des Jazz-Orchesters auf dem Marktplatz und im Café gedreht (20. 8).
		</p>
		<p>
			Gerron verlangt die Teilnahme von mindestens 3.000 Zuschauern, vor allem jungen Menschen, an einem Fußballspiel (31. 8).
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>September</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Es verlaufen die Dreharbeiten während der Sitzung des Ältestenrats und im Ton wird dr. Paul Eppsteins Rede
		festgehalten; am Nachmittag wird ein Fußballspiel gedreht, abends noch das von Karel Ančerl dirigierte Konzert. Es erklingen Kompositionen von
		Pavel Haas und Felix Mendelssohn-Bartholdy (1. 9.). 
		</p>
		<p>Die Dreharbeiten werden in der Sokol-Turnhalle fortgesetzt, , wo ein Tanzabend inszeniert
		wird. (2. 9). Er wird in der Bibliothek und in der Bäckergasse Nr. 7 gedreht, dazu noch eine inszenierte Familienszene in der Wohnung des Ing.
		Zucker (11. 9.). Gerron schickt dem Leiter der Feuerwehrleute von Theresienstadt Leo Holzer einen Dankbrief für die Teilnahme an den
		Dreharbeiten (16. 9.). Bei den Dreharbeiten setzt sich in zunehmendem Maße der Nachrichtenstil von Aktualita durch, wodurch Kurt Gerrons Rolle
		als Regisseur begrenzt ist. Der Regisseur bereitet einen Vorschlag für den Schnitt des Films, dieser jedoch wird in Prag stattfinden, ohne
		seine Teilnahme. Die Dreharbeiten werden am 11. 9. beendet. Vorsitzender des Ältestenrates dr. Paul Eppstein wird in der Kleinen Festung ermordet (27. 9.).
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Oktober</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		In einen der Herbsttransporte nach Auschwitz-Birkenau wird auch Kurt Gerron geschickt (28. 10.). So wie <span class="nz">er sterben</span> Hunderte von anderen Teilnehmern an den Dreharbeiten in den Gaskammern von
		Auschwitz, <span class="nz">bei Sklavenarbeit</span> oder auf Todesmärschen.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Dezember</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		 Karel Pečený verzögert immer noch die Fertigstellung des Films, trotz der Dringlichkeit Hans Günthers. <span class="nz">Der Film</span> hätte ersten Schätzungen nach bereits im September 1944 abgeschlossen worden sein.
		</p>
			</dd>
		</dl>

		<h3 class="timelineMajorMarker">
			1945
		</h3>
		<p></p>
		<dl class="timelineMinor">
			<dt id="event01"><a>Februar</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Filmemacher besuchen mit Ihrem Tonaufnahmegerät wieder Theresienstadt und nehmen Ergänzungen zur Begleitmusik
		für den Film auf. Zum Komponisten des musikalischen Konzepts des Films wird der deutsch-dänische Komponist und Dirigent Peter Deutsch. In Prag,
		verlaufen die Arbeiten an der Beendung des Films. <br/>Als Schnittmeister wird Ivan Frič eingestellt. Autor der Erläuterungen und derjenige, der sie
		auch in Deutsch aufnimmt, <span class="nz">ist X.E. Lampl</span>, beauftragter Angestellter für die Überwachung der Aktualita. Hans Günther genehmigt den Film.
		Aufgrund seiner Anforderungen entstehen für den Film drei unterschiedliche Schlussfolgerungen.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>März</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
			Der Film in der Gesamtlänge von 2.500 Metern wird erst am Ende des Monats vollendet.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>April</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		<p>
		Vermutlich Anfang April findet in dem Czerninpalast in Prag, der Residenz K.H. Franks, eine Privatvorführung
		des Films statt, an der die ausgewählten SS-Offiziere Hans Günther und Karl Rahm teilnehmen. Eine Projektion findet auch in Theresienstadt
		statt, diesmal für das Internationale Komitee des Roten Kreuzes. Unter den Teilnehmern sind dr. Otto Lehner und Paul Dunant, der Schweizer
		Diplomat Buchmüller, der Kommandeur <span class="nz">der Sicherheitspolizei</span> und des Sicherheitsdienstes im Protektorat SS-Oberführer Erwin Weinmann, zwei Beamte
		<span class="nz">des Auswärtigen</span> Amtes - Legationsrat Eberhard von Thadden und Botschafter Erich von Luckwald, und schließlich <span class="nz">SS-Obersturmbannführer</span> Adolf Eichmann (6. 4).
		</p>

		<p>
		Zehn Tage später wird der Film wieder aufgeführt, diesmal für den Schweizer Vermittler Benoît Musy. An einer
		weiteren Projektion nimt Rezső Kasztner teil, Vertreter der Organisation Va&#39;ada – Hilfs- und Rettungskomitee in Budapest, gefolgt von zwei
		Offizieren von Eichmanns Personal, SS-Obersturmbannführer Hermann Krumey und SS-Hauptsturmführer Otto Hunsche. Auch Hans Günther, sein
		Stellvertreter SS-Obersturmführer Gerhard Günnel und Karl Rahm sind anwesend. Selbst der Vorsitzende des Ältestenrates Benjamin Murmelstein
		wird eingeladen (16. 4).
		</p>

		<p>
			 Karel Pečený überreicht Hans Günther Materialien zu dem Film (21. und 24. 4.). Es handelte sich
		wahrscheinlich um das Negativ, Kopien, Reste von der Redaktion, Tonspuren, usw.
		</p>
			</dd>
		</dl>
		

		<dl class="timelineMinor">
			<dt id="event01"><a>Mai</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
				    Přemysl Schönbach, künftiger Radiotechniker, findet in der Nähe von Mělník in dem Wrack eines deutschen
		Automobils Teile des Films, den er ein paar Zuschauern im Ortskino in Mšeno projiziert, um dann die Schachtel mit dem Filmband aufzubewahren.
		Er geht davon aus, der Film sei in Theresienstadt gedreht worden.
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Dezember</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p class="timelineMajorMarker" >
				   Der Gesamtbetrag der finanziellen Belohnung für die Filmentwicklung, den Günther und Pečený vereinbart haben,
		ist uns nicht bekannt. Nach den Buchhaltungsunterlagen der Aktualita blieb jedoch das Zentralamt Pečený 350.000 tschechische Kronen schuldig,
		und dieser Betrag wurde als uneinbringliche Förderung eingestuft.
		</p>
			</dd>
		</dl>

		<h3 class="timelineMajorMarker">
			1946/1947
		</h3>
		<p>
		Jiří Lauscher findet im Rahmen der EZRA-Dokumentationsaktion im ehemaligen Sitz der Zentralstelle in Prag -
		Streschowitz einen Teil des Filmmaterials, der nach Jerusalem geschickt wird. Lauscher besorgt sich von einigen der Filmrähmchen
		Fotokopien.
		</p>

		<h3 class="timelineMajorMarker">
			1958
		</h3>
		<p>
		Einer der Häftlinge von Theresienstadt, der Historiker H.G. Adler veröffentlicht in dem Buch
		<i>Die Verheimlichte Wahrheit</i> Unterlagen über das Ghetto
		Theresienstadt, einschließlich der Dokumente aus dem Nachlass von Kurt Gerron über die Dreharbeiten in dem dortigen Ghetto.
		</p>

		<h3 class="timelineMajorMarker">
			1960
		</h3>
		<p>
		Die tschechische Zeitung in deutscher Sprache <i>Aufbau und
		Frieden</i> veröffentlicht einen Bericht über die Entdeckung des Drehbuchs zu dem Film
		<i>Der Führer schenkt den Juden eine Stadt</i> (20. 1). In der
		nächsten Periode geht das Drehbuch verloren, dessen Kopie befindet sich in dem Archiv der Sicherheitskräfte in Prag und in schlechter
		technischer Qualität im Yad Vashem Archiv in Jerusalem.
		</p>
		<p></p>

		<h3 class="timelineMajorMarker">
			1964
		</h3>
		<p></p>
		<p>
		Ein Fragment des Theresienstädter Films aus den Jahren 1944-1945, in der Nachkriegszeit bekannt als
		<i>Der Führer schenkt den Juden eine Stadt</i> wird von der
		Öffentlichkeit &quot;entdeckt&quot;, als Přemysl Schönbach beschliesst, das einst bei Mšeno gefundene Filmmaterial für seinen Amateur-Film zu
		verwenden. Sein Material wird vom FAMU-Lehrer Vladimír Kressl übernommen, der das Fragment identifiziert und über den seltenen Fund die Presse
		benachrichtigt. Von dem Fragment des brennbaren Filmbands werden eine Kopie und Negative für die Filmbibliothek des Tschechoslowakischen
		Filminstituts in Prag gemacht.
		</p>

		<dl class="timelineMinor">
			<dt id="event01"><a>August / September</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Přemysl Schönbach verleiht den Film gegen Entgelt zahlbar dem westdeutschen Journalisten und Fernseharbeiter
		Paul Michael Bornkamp, der ihn ohne Erlaubnis ausführt und in der BRD kopieren lässt. Dies hat eine gerichtliche Ermittlung zufolge, die bis
		Anfang 1966 dauert.
		</p>
			</dd>
		</dl>

		<h3 class="timelineMajorMarker">
			1965
		</h3>
		<dl class="timelineMinor">
			<dt id="event01"><a>Februar</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
				   Auf den westdeutschen Kurzfilmtagen in Oberhausen veröffentlicht Michael Bornkamp Materialien aus dem
		Propagandafilm Theresienstadt in dem Film <i>So schön es war in Terezín.</i>
		</p>
			</dd>
		</dl>

		<dl class="timelineMinor">
			<dt id="event01"><a>Juni</a></dt>
			<dd class="timelineEvent" id="event01EX"">
		
		<p>
		Das Tschechoslowakische Fernsehen Praha reiht in das Zeitgeschehenprogramm <i>Die neugierige Kamera</i> eine Sendung unter dem Titel <i>Ein Film für eineinhalb Millionen Schweitzer Franks</i>. Darin treten sowohl
		überlebende jüdische Häftlinge, als auch Kameraleute des Films auf. Das erste Mal sind auch die Ausschnitte aus dem &quot;entdeckten&quot;
		Fragment des Films enthalten. Von dem Programm bleibt in der Gedenkstätte Theresienstadt nur eine 16-mm-Aufnahme ohne Dialogband
		erhalten.
		</p>

		<p>
			 In tschechische Kinos kommt der Film <i>Město
		darované</i> <i>(Die geschenkte Stadt</i>) von Vladimír
		Kressl, von dem von Přemysl Schönbach aufbewahrten Theresienstädter Filmmaterial ausgeht.
		</p>

		<h3 class="timelineMajorMarker">
			1988–1998
		</h3>
		<p>
		Dr. Regina Mihal Friedman von der Universität Tel-Aviv &quot;entdeckt&quot; in Yad Vashem den
		Theresienstädter Film und schließt ihre Studie mit der Feststellung ab, dass <i>Theresienstadt</i> in der Generationenkluft als &quot;Tribut unzerstörbaren
		Geistes der jüdischen und der menschlichen Kreativität und Kampfkraft&quot; verstanden werden kann.
		</p>

		<p>
			Einen Satz neuer Dokumente und Angaben über den Verlauf der Dreharbeiten in den Jahren 1944 und 1945 bringen
			die Studien des niederländischen Historikers Karel Margry. Dieser weist darauf hin, dass der überlieferte Name des Films <i>Der Führer schenkt den Juden eine Stadt</i> nicht original
			ist. In den Archiven von Yad Vashem befindet sich das Initialfragment des Films mit der ursprünglichen
			Überschrift: <i>Theresienstadt. <span class="nz">Ein Dokumentarfilm</span> aus dem Jüdischen
			Siedlungsgebiet</i>. Es ist ein Fragment, ursprünglich von Jiří Lauscher gefunden.
		</p>
		<p>
			In einem polnischen Archiv identifiziert Karl Margry eine bis dahin unbekannte Filmaufnahme über <span class="nz">die Dreharbeiten</span> im Jahr 1942, dort unter dem <i>Namen Obóz koncentracyjny w
			Teresinie</i> bewahrt.
		</p>
			</dd>
		</dl>

		<h3 class="timelineMajorMarker">
			2004
		</h3>
		<p>
			Im Nationalfilmarchiv (NFA) in Prag identifiziert Eva Strusková Auschnitte, die einst Irena Dodalová aus dem
			Schneideraum hinausgetragen hat und die ihre Reise bei Lubor M. Dohnal, Professor an der Prager FAMU beendet haben. Im NFA sind sie unter dem
			Namen <i>Terezín 1942 (Ausschnitte)</i> eingeordnet. Der Rolle
			der Irena Dodalová während der Dreharbeiten im Jahre 1942 hat Eva Strusková mehrere wissenschaftliche Studien gewidmet.
		</p>
		
		<h3 class="timelineMajorMarker">
			2015
		</h3>
		<p>
			Beim Neisse Filmfestival wird erstmals eine didaktisch aufberietete und kommentierte Fassung des Film gezeigt.
		</p>
</div>
</div>		    
