
<% layout('layout') -%>


 <!-- Subhead
    ================================================== -->
    <header class="bs-header" id="overview" style="">
        <div hidden  class="container">
            <h1><%= user.username %></h1>
            
        </div>
    </header>

 <!-- Content
    ================================================== -->
    
<div id="page">
<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>

</div>
