<% if (!items.user) { %>
	<!--<a class="account-data" href="/users/register">Registrieren</a>-->
	<a class="account-data" href="/login">Login</a>			
<% } else { %>
	<div class="user-menu">			 
		<a class="account-data" href="/users/view/<%= items.username %>">
			<img class="user-menu-icon"  src="/static/img/user-icons/user-<%= items.id %>_big.png" />
		</a>
		<a class="user-menu-entry" href="/users/view/<%= items.username %>"><span class="glyphicon glyphicon-user"> Mein Profil</span></a>
		<a class="user-menu-entry" href="/logout"><span class="glyphicon glyphicon-log-out"> Ausloggen</span></a>	
	</div>
<% } %>		


