
/**/


a, a:hover { 
	text-decoration:none;
}

blockquote p{
	font-size:10pt;
}

.warning {
	background-color:orange;
	padding:2px 4px;
	margin:10px 0;
	color:#fff;
}



.mark{
	background-color:#fff;
}

/* USER MANAGEMENT / AWARENESS */

#userpanel{
	z-index:13010;
	position: fixed;
	top:0;
	right:0;
	height:53px;
	display:inline-block;
	background-image: linear-gradient(to bottom, #3c3c3c 0px, #111 100%);
  background-repeat: repeat-x;
  border-color: #080808;
	border-width: 0 0 1px;
}

.navbar-inverse {
background-image: linear-gradient(to bottom, #3c3c3c 0px, #111 100%);
  background-repeat: repeat-x;
}

.user-menu {
	display:block !important;
	float:right;
	margin:0;
}

.group-menu {
	margin-left:6px;
	display:block;
	height:auto;
	width:66%;
}


.users-online-nav{
	margin-top:4px;
}

.users-online{
	display:inline-block;
	margin-left:4px;
	padding: 0px 0px 0px 0px;
}

.user-menu-entry{
	color:#fff;
	padding: 0 2px 0 6px;
	overflow:visible;
}



.user-menu-icon{
	height:20px;
	margin:0; 
	padding:0 0 0 0;
	border:0;
}




.group-menu .navbar-brand, .user-menu .navbar-brand {
	padding: 15px 4px;
	font-size:14px;
}


.group-menu .user-menu-icon{
	height:20px;
	padding:0; 
	margin:0 6px 0 0;
	border:0;
	opacity:.1;
}


.group-menu .user-menu-icon:hover{
	opacity:1;
}

.group-menu .online{
	opacity:1;
	
}

.group-area2{
	padding:0;
}

.group-area2 ul{
	padding:0;
}

.group-area2 ul li{
	padding:0;
	margin:0;
	font-size:14px; list-style:none;
}

.op {
opacity:0.4;
}

.on {
border:solid 1px #1C94C4;
}

.account-data{
	font-size: 12px;
	float:right; 
	margin:0px 0px;
}

.account-data a{text-decoration:none; }

.account-data-name {
	padding: 2px 4px 2px 18px;
	background: no-repeat scroll 4px 5px rgba(0, 0, 0, 0);
}

.account-data-name:hover {
	background-color:#1C94C4;
	border-radius: 3px;
	
}







.chat-room {
    height: 320px;
}

.chat-room .chat-overflow {
    height: 180px;
    overflow: scroll;
}





/* scenes side nav*/

.affix-top,.affix{
 position: static;
}

	#scene-menu{
		 max-height: 80%;
		 overflow-y: auto; 
	}

 #scene-menu.affix-top {
    position: static;
  	margin-top:0px;
  	width:228px;
  }
  
  #scene-menu.affix {
    position: fixed;
    top:0px;
    width:228px;
  }

 #scene-menu.affix-bottom {
    position: static;
  	margin-top:0px;
  	width:228px;
  }  



ul.nav-tabs {
	width: 200px;
	margin-top: 50px;
	padding:0;
}
ul.nav-tabs li {
	margin: 0;
	padding:0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding:0;
	font-size:10px;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}

ul.nav-tabs.affix {
	/*top: 0px; Set the top position of pinned element */
}

header{
margin-bottom:0;
}


/***********/


#page {
	display:block;
	position:relative;
	overflow: scroll;
}

.move-top{
	top:0;
}

.content{
	display:block;
	height:80%;
	overflow: scroll;
}

.highlight {
	background-color:#1C94C4;
}

 .tooltip > .tooltip-inner { background-color: #003366;}
 .tooltip > .tooltip-arrow { border-bottom-color:#003366; }


th {
text-align:left;
cursor:pointer;
}

tr{
}

td {
padding: 4px 14px 20px 4px;
margin:0;
border-top: 1px solid #ccc;
vertical-align:top;
font-size:12px;
}


table.ep tr td {
font-size:10pt;
padding:0pt;
}

h4.ep {
width:100%; background-color:lightblue;
margin-top:120px;
padding:4px;
}

iframe.ep {
position: fixed;
right:0;
top:40px;
}







.scene-view {
margin:0 0;
display:block;
margin-bottom:10px;
padding:10px;
height:auto;
}

.scene-view h3{
margin-bottom:0px;
float:left;
width:100%;
height:40px;

}

.scene-view .bim {
padding:0;
margin:0;
display:inline-block;
width:50%;
}


.scene-view .metadata {
	font-size:11px;
	color:#333;
	padding-left:4px;
	margin-bottom:4px;
	border-left: solid 5px #555;
}

.scene-description , .lecturer, .tags {
font-size:14px;
line-height: 20px;
}

.scene-view .lecturer{
font-weight:bold;
}

.scene-controls{
	margin-top:6px;
	float:right;
	display:inline-block;
}


label {
	padding:0;
	margin:0;
}


/********************************/
/* PERSONS */

.side-panel{
	position:fixed;
	top:0px;
	right:0;
	background-color: #ddd;
}



.side-panel.affix-top {
    position: static;
  	margin-top:0px;
  }
  
.side-panel.affix {
    position: fixed;
    top:60px;
  }



.bio-text{
	font-size:12px;
}



/*************************/
.hidden-link {
	color:#555;
	font-weight:bold;
}

.hidden-link:hover{
text-decoration:none;
}


/* add annotations */
.tiny-edit-btn{
	float:right;
	color:#555;
	cursor:pointer;
}
.tiny-edit-btn:hover{
	color:#003366;
}

.add-btn{
	margin-left:12px;
	padding:4px;
	cursor:pointer;
}
.add-btn:hover{
	color:#003366;
}

.validation-conflict {
	border: solid 1px red;
}

.modal-validation {
	color: red;
	margin-left: 20px;
}

/**/

.modal-form{
	clear:both;
}


.modal-form  #answerbox input {

	font-size:14px;
	padding:4px;
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left:5px;
   border: 1px solid  #ccc;
    display:inline-block;
    vertical-align:middle;
  
    border-radius: 5px;
}

.modal-form  #answerbox input[type=text] {
	width:80%;
}

.modal-form textarea {
	font-size:14px;
	padding:4px;
	width:90%;
	height:150px;
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color:#fff;
	color:#000;
}

.modal-form label {
	display: inline-block; width: 140px; text-align: left; color:#444; margin-right:6px; font-size:14px;
}

.modal-form input[type=checkbox], .modal-form input[type=radio]{
	width:25px;
}

.modal-form .close-btn{
	display:inline-block;
	position:relative;
	margin-left:2px;
	vertical-align:middle;
	padding: 2px 4px;
	font-size:18px;
}

.modal-form .add-btn{
	text-align:left;
	padding-top:4px;
	border-top: solid 2px #555;
	margin:10px 0 20px 0;
	font-size:13px;
	display:inline-block;
}



/**/
.edit-form{
	clear:both;
}

.edit-form input {
	width:500px;
	font-size:18px;
	padding:4px;
	 margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px;
   border: 1px solid  #ccc;
    border-radius: 5px;
	
}



.edit-form textarea {
	font-size:16px;
	padding:4px;
	width:500px;
	height:300px;
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	vertical-align:top;
	margin-left:20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color:#fff;
	color:#000;
}

.edit-form label {
	display: inline-block; width: 140px; text-align: right; color:#444; margin-right:6px; font-size:14px;
}

.edit-form label.assessment {
	text-align: left;
	font-size:16px;
	width:500px;
}

.edit-form input[type=checkbox], .edit-form input[type=radio]{
width:25px;
padding-left:500px;
vertical-align:top;
margin:2px 4px 20px 0;

}

.edit-form input[type=checkbox] + label span, .edit-form input[type=radio] + label span{
	float:left;
	vertical-align:top;
	text-align:left;
	display:inline-block;
	cursor:pointer;
	width:19px;
  margin:0px 4px 20px 0;
}

label.assessment{
	margin-bottom:10px;
}

.edit-form .buttons{
	margin:30px 0 0 160px;
	width: 520px;
}






.question{
border-top: dotted 3px #ccc;
margin-bottom:40px;
padding-top:5px;
}

.assessment-answers{
	margin-top:10px;
}

.assessment-test{
width:600px;
}


.xtable{
	width:100%;
	border: solid red 1px;
}

.xtable thead th {
	cursor: pointer;
	color:blue;
	padding:1px 10px;
}


/*
Design of Control Elements
**/

.title-img{
	width:100%;
	border: 4px white solid;
	border-radius: 10px;
}

.left-panel{
	
	margin: 10px 10px 0 45px;
	float:left;
	z-index:1000;
	position:absolute;
}

.alert-btn{
	color:red;
	float: right;
	cursor: pointer;
}

.vi2-btn{
	cursor: pointer;
}


.well-done{
	color:green;
}




#assessment-accordion .ui-accordion-header{
width:80%;
height:40px;
font-size:25px;
padding:4px;
padding-left:40px;
background-color:#999;
}



/***************/

.admin-menu-item{
	display:block;
	padding: 6px 10px;
}

.table-menu:hover .table-menu-entry{
	visibility:visible;
}

.table-menu-entry{
	visibility:hidden;
	font-size:12px;
}

.xtable td, .xtable tr  {
	min-height:60px;
	border-bottom:dotted #ccc 2px;
	text-align:left;
}

td.ep-table-cell {
    vertical-align: top;
}
.bold{
font-weight:bold;
}



/* BOOTstrap additions */

#wrapper{
	min-height:100%;
  position:relative;
}







/* Video frame */

.main{
	background-color:#000;
	width:100%;
	height: 100vh !important;
	min-height: 500px !important;
	margin:0;
	display:block;
}

#video1 {
/*	width: auto;
	height: calc( 100vh - 2px);
	-webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;*/
  padding:0;
}

.split {	
	position:absolute;
	top:0;
	left:0;
	width:50%;
	max-height:80%;
	display:block;
	padding-bottom:100px;
	padding-top:0;
	-webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;
}


#videowrapper{
	height: auto ;
	/*width: 75% !important;*/
	top:50px;
	background:#555;
	display:block;
	overflow:hidden;
	border:0;
	padding:0;
}

#seq {
	display:inline;
	position: relative;
	float:left;
	/*max-width:100%;*/
	max-height: 100vh;
	padding:0 0px;
}


#overlay {
	background-color: none 0;
	display: block;
	opacity: .6;
	width: 100%;
	z-index: 200;
	height: 100vh;
	/* */
}

.slide {
	background-color: #222;
	width:99%;
	height:auto;
	max-height:100vh;
	padding: 0;
	margin: 0;
}


/* Accordion panel */
#accordion {
	background-color:#ddd;
	width:100%;
	overflow:hidden;
	display:block;
}

#accordion-resizer {
	position:absolute;
	padding:0 0 107px 0;
	margin: 50px 0 0px 0;
	height: 95vh;
	background-color:#555;
/*	width: 25% !important;*/
	top:0px;
	right:0 !important; /* -273px 
	-moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: .8s;*/
}

#accordion-resizer h3 {
	font-size:14px;
	padding-left:10px;
	padding-bottom:5px;
	margin:0;
	border-bottom: 1px #ddd dotted;
	border-radius:0px;
}

#accordion-resizer h3.ui-state-default{
	border-bottom: 1px #ddd dotted;
	font-weight:bold;
	font-size:15px;
}

#accordion-resizer div.ui-accordion-content{
	padding:10px  10px 15px 10px;
	margin: 0 0 10px 0;
}

#accordion-resizer div.ui-accordion-content p{
	padding-bottom:10px;
	margin:0;
}

#accordion-resizer .ui-icon{
	background:none;
}

#accordion-resizer .ui-corner-all{
	border-radius:0px;
}

/* unknown */
.screen{
	position:absolute;
	top:0;
	width:600px; 
	height:450px;
	overflow:auto; 
	overflow-x: hidden; 
	opacity: 0.95;
	text-align:left;
	color:#000;
	z-index:99;
	margin:10px 0;
}

.screen div{
padding:10px;
}


.instructions{
	padding:10px;
	font-size:14px;
	line-height:22px;
}


.ui-widget-content{
	border:none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: #555;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #fff;
    text-decoration: none;
}

.ui-state-active a:hover, .ui-state-active a:link:hover, .ui-state-active a:visited:hover {
    color: #fff;
    text-decoration: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #fff;
}

.video-container{
	position:absolute;
	bottom:0px;
	left:10px;
}


/* Video Manager */
.work-progress-bar{
	width:inherit;
	height:16px;
	display:none;
	background-color:#777;
	position:relative;
	overflow:hidden;
}

.work-progress{
	width:50px;
	height:inherit;
	display:inline-block;
	background-color:green;
	z-index:9;
	position:absolute;
	left:0;
}

.work-progress-status {
	color:#eee;
	font-size:10px;
	z-index:1000;
	display:inline;
	position:absolute;
	left:4px;
	top:1px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html, body {
   max-width: 100%;
   position: relative;
 	 min-height: 100%;
}

body > .container {
  padding: 50px 15px;
  display:block;
  border:red solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
}
p, div, textarea, input {
    font-family: 'Lato', sans-serif;
}

.container .text-muted {
  margin: 20px 0;
}

/*****************************************/
/* MESSAGES */

textarea.message-content, .message-recipient, button.message-send{
	width:100%;
	font-size:14px;
	margin-top:4px
}

.message{
	width:95%;
	border-radius: 3px;
	padding:6px;
	margin-bottom:10px;
}

.msg-head{
	font-size:10px;
	color:#777;
}

.msg-out{
	float: right;
	background-color:lightblue;
}

.msg-in{
	float: left;
	background-color:#eee;
}

.right {
float:right;
}


/* FOOTER */
footer {
  position:relative;
  clear:both;
  bottom:0 !important;
	left:0;
  width: 100%;
  height:120px;
  background-color: #f5f5f5;
  color:#777;
  font-size:12px;
  padding:10px 0;
  display:block;
  margin-top:100px;
 
}

footer img {
	margin-left:4px;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}



