
/* HEADER */
#page{
	display:block;
	padding-bottom: 48px;
  padding-top: 48px; 
}


.warning {
	background-color:orange;
	padding:6px 6px;
	margin:10px 0;
}

.upload-bar {
    height: 18px;
    background: green;
}

.subnav{
	font-size:12px;
	padding-left:20px;
}

.panel-heading{
color: #959595;
    content: "Example";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background:none;
}

.form-element {
	margin-bottom:10px;
}


/* Upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.alert-btn {
	color:red;
}

.btn-secondary{
	background-color:#888;
	font-weight:bold;
	color:#fff;
}
.btn-secondary:hover{
	background-color:#999;
	color:#fff;
}

.right{
	float:right;
}

.table-link{
	margin-right:10px;
}

.widget-type-thinkLet {
	background-color:#550088;
}

.widget-type-annotation {
	background-color:#003366;
}



/* forms */
.admin-edit-form {
	background-color:#E5F2FF;
	border-bottom:2px solid #ccc;
	padding:20px;
	margin-bottom:20px;
	width:100%;
}

.panel-heading{
	font-size:16px;
}

/*div > textarea {
	min-width:400px;
	min-height:150px;
	margin-top: 10px;
}*/



/* TABLES*/

.xtable{
	width:100%;
	margin:50px 0;
}

.xtable thead th {
	cursor: pointer;
	color:blue;
	padding:1px 0px;
}

.xtable td, .xtable tr  {
	min-height:60px;
	border-bottom:dotted #ccc 2px;
	text-align:left;
}

td.ep-table-cell {
    vertical-align: top;
}

.table-detail{
	display:none;
	
}


.table-row td {
	height:60px;
	vertical-align:top;
	padding: 4px 0 10px 0;
}

.table-row:hover .table-detail{
	display:inline;
}


.bold{
font-weight:bold;
}


/* script template editor */

.phase{
	background-color: #eee;
	margin: 20px 0px;
	padding:10px;
}

.phase h3{
	font-weight:bold;
	font-size:12pt;
	margin:0 0 10px 0;
	padding:0;
}

.phase button {
	margin-right:4px;
}

.phase .popover-title{
	padding-left: 4px;
}

.xeditable, .editable-click, a.editable-click, a.editable-click:hover{
	text-decoration: none;
	border:none;
}

textarea.script-form{
	height:100px;
	width:100%;
	
}

.phase  .nav > li > a {
	padding: 0px 8px;
}
.phase > .nav-tabs {
	border-bottom:none;
}

label {
	font-weight:normal;
}

.phase-video-list{
	overflow-y: auto;
	overflow-x: hidden;
}

.xeditable:hover:after {
  font-family: "Glyphicons Halflings";
  font-size:80%;
  font-weight:normal;
  margin-left:4px;
  content:  "âœ";
  padding:2px 4px;
  color:#555;
}

.sec{
	margin-bottom:10px;
}

/* script table */

.script-table tr td {
	width: 40px;
	height:40px;
	border: solid 1px #555;
	vertical-align:middle;
	text-align:center;
}

.script-table tr td:hover {
	
}

.script-table tr td:first-child, .script-table thead td {
	background-color: #eee;
	border:0 none;
	padding:4px;
	vertical-align:middle;
	text-align:center;
}


.script-table .visible-cell {
	background-color: lightblue;
}



/* FOOTER */
footer {
  position:absolute;
  bottom:0;
	display:block;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding:10px 0;
}

footer img {
	margin-left:4px;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}





/* USER MANAGEMENT / AWARENESS */

#userpanel{
	z-index:13010;
	position: fixed;
	top:0;
	right:0;
	height:53px;
	display:inline-block;
	background-image: linear-gradient(to bottom, #3c3c3c 0px, #111 100%);
  background-repeat: repeat-x;
  border-color: #080808;
	border-width: 0 0 1px;
}

.navbar-inverse {
background-image: linear-gradient(to bottom, #3c3c3c 0px, #111 100%);
  background-repeat: repeat-x;
}

.user-menu {
	display:block !important;
	float:right;
	margin:0;
}

.group-menu {
	margin-left:6px;
	display:block;
	height:auto;
	width:66%;
}


.users-online-nav{
	margin-top:4px;
}

.users-online{
	display:inline-block;
	margin-left:4px;
	padding: 0px 0px 0px 0px;
}

.user-menu-entry{
	color:#fff;
	padding: 0 2px 0 6px;
	overflow:visible;
}

.navbar > .container .navbar-brand {
    margin-left: 0px;
}

.user-menu-icon{
	height:20px;
	margin:0; 
	padding:0 0 0 0;
	border:0;
}




.group-menu .navbar-brand, .user-menu .navbar-brand {
	padding: 15px 4px;
	font-size:14px;
}


.group-menu .user-menu-icon{
	height:20px;
	padding:0; 
	margin:0 6px 0 0;
	border:0;
	opacity:.1;
}


.group-menu .user-menu-icon:hover{
	opacity:1;
}

.group-menu .online{
	opacity:1;
	
}



.op {
opacity:0.4;
}

.on {
border:solid 1px #1C94C4;
}

.account-data{
	font-size: 12px;
	float:right; 
	margin:0px 0px;
}

.account-data a{text-decoration:none; }

.account-data-name {
	padding: 2px 4px 2px 18px;
	background: no-repeat scroll 4px 5px rgba(0, 0, 0, 0);
}

.account-data-name:hover {
	background-color:#1C94C4;
	border-radius: 3px;
	
}

