<% layout( '../admin-layout' ) -%>

<h2>Admin</h2>

<div class="row">
<div class="col-md-4 admin-panel">
	<h3>Users</h3>
	<a>Manage Groups</a> .. some text
</div>
<div class="col-md-4 admin-panel">
	<h3>Videos</h3>
</div>
<div class="col-md-4 admin-panel">
	<h3>CSCL-Scripts</h3>
</div>
</div>
