<% layout( '../admin-layout' ) -%>

<div class="row">
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-film"></span>
		<h3>Videos</h3>
		<ul>
			<li><a href="/admin/videos/files/create">Upload video files</a> .. some text</li>
			<li><a href="/admin/videos/files">Manage video files</a> .. sx. some text</li>
			<li><a href="/admin/videos/instances">Manage video instances</a> .. some text</li>
		</ul>
	</div>
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-user"></span>
		<h3>Users</h3>
		<ul>
			<li><a href="/admin/users">Manage user</a> .. some text</li>
			<li><a href="/admin/users/groups/formations">Define group formations</a> .. some tex.ome text</li>
			<li><a href="/admin/users/groups">Manage Groups</a> .. some text</li>
		</ul>
	</div>
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-tasks"></span>
		<h3>CSCL-Scripts</h3>
		<ul>
			<li><a href="/admin/scripts/templates">Manage script templates</a> .. some text</li>
			<li><a href="/admin/scripts/instances">Manage script instances</a> .. some te some tex. some text</li>
		</ul>
	</div>
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-stats"></span>
		<h3>Analytics</h3>
		<ul>
			<li><a>Video usage</a> .. some text</li>
			<li><a>Group interactions</a> .some text</li>
			<li><a>Navigational patterns</a>x. s some text</li>
		</ul>
	</div>
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-check"></span>
		<h3>Results</h3>
		<ul>
			<li><a href="/admin/results/comments">Overview user comments</a> .. some text</li>
			<li><a href="/admin/results/peer-assessment">See Peer Assessment results</a> .. some text</li>
		</ul>
	</div>
	<div class="col-md-4 admin-face">
		<span class="large glyphicon glyphicon-cog"></span>
		<h3>Settings</h3>
		<ul>
			<li><a>System</a> .. some text</li>
			<li><a>Language</a> .. some tex. s some text</li>
		</ul>
	</div>
</div>
