<% layout( '../admin-layout' ) -%>

<h2>User Comments</h2>
<span id="status">loading ...</span>
<table id="table1"></table>

<script> 
//window.onload = function () { 

var res = {}, flat = [], comment = {};
		jQuery.ajax({
      type: "get",
      beforeSend: function(xhr){ 
  				if (xhr.overrideMimeType){
				    xhr.overrideMimeType("application/json");
  				}
			},
      url: '/json/admin/video-instances',
      dataType: 'json',
      success: function(data){ 
      	for(var i = 0; i < data.length; i++){
      		if(data[i].comments !== undefined && data[i].comments !== null && data[i].comments.length > 0){ 
						for(var j = 0; j < data[i].comments.length; j++){
							if( data[i].comments[j] !== null ){
								comment = data[i].comments[j];
								comment.comment = decodeURIComponent( comment.comment )
								//comment.date = 
								var meta = data[i].metadata[0];
								comment.video_id = data[i].id;
								comment.video_title = meta.title;
								comment.video_duration = meta.duration;
								comment.video_tags = ( meta.tags ).toString();
								comment.video_category = meta.category;
								comment.video_author = meta.author;
								var file = ( data[i].video ).split('/');
								comment.video_file = data[i].video;//file[file.length-1];
								flat.push( comment );
							}	
						}
					}	
				}
				// bootstrap table
				$('#status').hide();
				$('#table1').empty().bootstrapTable({
					showColumns : true,
					checkboxHeader : true,
				 	showExport:true,
					exportDataType:'selected',
					exportOptions: {
						consoleLog: false,
						csvEnclosure: '"',
						csvSeparator: ',',
						csvUseBOM: true,
						displayTableName: false,
						escape: false,
						excelstyles: [ 'css','properties','to','export','to','excel' ],
						fileName: 'tableExport',
						htmlContent: false,
						ignoreColumn: [],
						ignoreRow: [],
						onCellData: null,
						outputMode: 'file',
						tbodySelector: 'tr',
						theadSelector: 'tr',
						tableName: 'myTableName',
						type: 'csv',
						worksheetName: 'xlsWorksheetName'
					},
					// search
					search: true,
					strictSearch: true,
					trimOnSearch:true,
					columns: [
					 	{ field: 'video_id', title: 'Video instance Id', sortable : true, order: 'asc',searchable : true },
					 //	{ field: 'video_file', title: 'File', sortable : true, order: 'asc',searchable : true },
					 	{ field: 'video_title', title: 'File', formatter: fileFormatter, sortable : true, order: 'asc',searchable : true },
					 	{ field: 'author', title: 'Author', sortable : true, order: 'asc',searchable : true },
					 	{ field: 'comment', title: 'Comment', sortable : true, order: 'asc',searchable : true },
					 	{ field: 'start', title: 'Playback Time', sortable : true, order: 'asc',searchable : true },
					 	{ field: 'video_tags', title: 'Video Tags', visible:false, sortable : true, order: 'asc',searchable : true },
					 	{ field: 'video_category', title: 'Video Category',visible:false, sortable : true, order: 'asc',searchable : true },
					 	{ field: 'video_author', title: 'Video Author',visible:false, sortable : true, order: 'asc',searchable : true },
					 	{ field: 'video_duration', title: 'Video Duration',visible:false, sortable : true, order: 'asc',searchable : true }
					],
					data : flat
				});
				
				
      	
			},
			error : function(e) {
				console.log(JSON.stringify(e))
			}
		}); // end ajax

function titleFormatter(value, row, index) {
	return '<a href="/admin/videos/instances/edit/'+row.video_file+'">'+row.metadata[0].title+'</a>'; 
}

function fileFormatter(value, row, index) {
	return '<a href="' + row.video_file +'">'+row.video_title+'</a>'; 
}

	
</script>





