<% layout( '../admin-layout' ) -%>

<h2>Script instances</h2>

<div id="table1"></div>

<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    onLoadError : function(e){ console.log(JSON.stringify(e)); },
    showColumns : true,
    checkboxHeader : true,
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    rowStyle: function (row, index) { 
    	if( row.status === 'running'){
				return {
					classes: 'text-nowrap another-class',
					css: {"color": "red"}
				};
			}
			return {};	
		},
    columns: [
	   // { field: '_id', title: 'ID', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'title', title: 'Instance', sortable : true, order: 'asc', formatter: titleFormatter, searchable: true }, 
//		  { field: 'description', title: 'Description',  sortable : true, order: 'asc',searchable : true }, 
		  { field: 'phases', title: 'Phases', visible:true, sortable : true, formatter: phaseFormatter, searchable : true }, 
			{ field: 'duration', title: 'Duration', visible:true, sortable : true, formatter: durationFormatter, searchable : false }, 
		  { field: 'updated_at', title: 'Updated', visible:true, sortable : true, formatter: dateFormatter, order: 'asc',searchable : true },
		  { field: 'status', title: 'Status', visible:true, sortable : true, order: 'asc',searchable : true },
		  { field: 'operate', title: '', visible:true, formatter: operateFormatter }  
    ]
	});
});



function phaseFormatter(value, row, index) {
	return row.phases.length; 
}

function durationFormatter(value, row, index) {
	var 
		a = moment(row.phases[ row.phases.length-1 ].end),
		b = moment(row.phases[0].start)
	 
	return a.diff(b, 'days') +' days'; 
}

function titleFormatter(value, row, index) {
	return '<a class="like" href="/admin/scripts/instances/edit/'+row._id+'" title="Edit script instance">'+ row.title +'</a>  ';
}

function dateFormatter(value, row, index) { 
	return moment(value).fromNow();
}	

function operateFormatter(value, row, index) {
	return [
		'<a class="table-link" href="/admin/scripts/instances/activate/'+row._id+'" title="Activate script instance">',
		'<i class="glyphicon glyphicon-ok"></i> activate',
		'</a>  ',
		'<a class="table-link" href="/json/admin/scripts/instances/'+row._id+'" title="Export script instance">',
		'<i class="glyphicon glyphicon-export"></i> export',
		'</a>  ',
		'<a class="table-link" href="/admin/scripts/instances/destroy/'+row._id+'" title="Remove script instance">',
		'<i class="glyphicon glyphicon-remove"></i> remove',
		'</a>'
	].join('');
}

</script>


<% include ../viz/timeline %>

