<% layout( '../admin-layout' ) -%>

<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    //url: '/data/json/modules',
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    onLoadError : function(e){ console.log(JSON.stringify(e)); },
    //    onLoadSuccess : function(e){ alert(JSON.stringify(e)); },
    //height:'500',
    showColumns : true,
    checkboxHeader : true,
   // cardView:true, // mobile view
    showExport:true,
    exportDataType:'selected',
    exportOptions: {
    	consoleLog: false,
			csvEnclosure: '"',
			csvSeparator: ',',
			csvUseBOM: true,
			displayTableName: false,
			escape: false,
			excelstyles: [ 'css','properties','to','export','to','excel' ],
			fileName: 'tableExport',
			htmlContent: false,
			ignoreColumn: [],
			ignoreRow: [],
			onCellData: null,
			outputMode: 'file',
			tbodySelector: 'tr',
			theadSelector: 'tr',
			tableName: 'myTableName',
			type: 'csv',
			worksheetName: 'xlsWorksheetName'
    },
    // search
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    columns: [
	   // { field: '_id', title: 'ID', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'title', title: 'Instance', sortable : true, order: 'asc', formatter: titleFormatter, searchable: true }, 
//		  { field: 'description', title: 'Description',  sortable : true, order: 'asc',searchable : true }, 
		  { field: 'phases', title: 'Phases', visible:true, sortable : true, formatter: phaseFormatter, searchable : true }, 
			{ field: 'duration', title: 'Duration', visible:true, sortable : true, formatter: durationFormatter, searchable : true }, 
		  { field: 'updated_at', title: 'Updated', visible:true, sortable : true, formatter: dateFormatter, order: 'asc',searchable : true }, 
    ]
	});
});



function phaseFormatter(value, row, index) {
	return row.phases.length; 
}

function durationFormatter(value, row, index) {
	// incomplete xxx
	return 'from-to'; 
}

function titleFormatter(value, row, index) {
	return '<a class="like" href="/admin/scripts/instances/edit/'+row._id+'" title="Edit script instance">'+ row.title +'</a>  ';
}

function dateFormatter(value, row, index) {
	var d = new Date( parseInt( value ) )
	var month = d.getMonth()+1;
	if(month < 10){
		month = '0'+month;
	}
	return  moment( d.getFullYear()+''+month+''+d.getDate(), "YYYYMMDD").fromNow(); 
}	

</script>

<h2>Script Instances</h2>

<div id="table1"></div>

