<% layout( '../admin-layout' ) -%>


<!--
todo: 
- clean code
- https://github.com/expressjs/multer for upload of files
- implement field mapping
 - read header of csv
 - provide mongoDB model
 - provide drop down fields for matching

-->


<% layout( '../admin-layout' ) -%>

<div class="col-md-10">
<h2>Users</h2>
<a href="/admin/users/create" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> Create new</a>
<br>
<br>
<div id="table1"></div>
</div>
<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    columns: [
		  { field: 'username', title: 'Username', formatter: userFormatter, sortable : true, order: 'asc', searchable: true }, 
		  { field: 'name', title: 'Name',  formatter: nameFormatter, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'role', title: 'Role', visible:true, sortable : true, searchable : true }, 
		  { field: 'groups', title: 'Groups', visible:true, sortable : false, /*formatter: videoFormatter,*/ order: 'asc',searchable : true }, 
		  { field: 'status', title: 'Status', visible:true, sortable : false, formatter: statusFormatter, order: 'asc',searchable : true }, 
			{ field: 'operator', title: '', visible:true, sortable : false, formatter: operateFormatter, order: 'asc',searchable : false }, 
    ]
	});
});

function userFormatter(value, row, index) {
	return [
		'<a class="table-link" href="/users/view/'+row.username+'" title="View user profile page">',
		'<img width="15" src="/static/img/user-icons/user-'+row.id+'.png" /> ',
		row.username,
		'</a>'
	].join('');
}

function nameFormatter(value, row, index) {
	return row.firstname+' '+row.name;
}

function statusFormatter(value, row, index) {
	if(row.status.online){
		return '<span class="glyphicon glyphicon-heart" title="online"></span>';	
	}else{
		return '<span class="glyphicon glyphicon-heart-empty" title="offline"></span>';
	}
}

function operateFormatter(value, row, index) {
	return [
		'<a class="table-link" href="/admin/users/edit/'+row._id+'" title="Edit user">',
		'<i class="glyphicon glyphicon-pencil"></i> edit',
		'</a><br/>',
		'<a class="table-link" href="/admin/users/destroy/'+row._id+'" title="Remove user">',
		'<i class="glyphicon glyphicon-remove"></i> remove',
		'</a>'
	].join('');
}

</script>




<!---
<a class="btn btn-default btn-xs" href="#" data-toggle="collapse" data-target="#addUserPanel" aria-expanded="false" aria-controls="collapseExample">add new user</a>
<a class="btn btn-default btn-xs" href="#" data-toggle="collapse" data-target="#importCsvPanel" aria-expanded="false" aria-controls="collapseExample2">import csv</a>

<div id="importCsvPanel" class="edit-form collapse admin-edit-form">
	<div class="panel-heading">Import users from CSV</div>
	<form action="/users/import-csv" method="post" accept-charset="utf-8">  
		<div class="btn btn-xs btn-default btn-file">
		  Browse File <input type="file">
		</div>
		<div class="input-group input-group-xs">
				<textarea name="user-csv"></textarea>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="replace-existing-users" value="">Replace existing users</label>
		</div>
		<br>
		<div class="buttons">
			<button type="submit" class="btn-default btn">import</button> 
			<a href="/admin/users">cancel</a>
		</div>	
	</form>	
</div>

<div id="addUserPanel" class="edit-form collapse admin-edit-form">
		<div class="panel-heading">Add a new user</div>   
   <form action="/users/create" method="post" accept-charset="utf-8">
    	<div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Username</span>
				<input type="text" class="form-control" placeholder="username" aria-describedby="sizing-addon1" name="username" value="">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Name</span>
				<input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" name="name" value="">
      </div>
      <br>
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">First name</span>
				<input type="text" class="form-control" placeholder="firstname" aria-describedby="sizing-addon1" name="firstname" value=">">
      </div>
      <br>
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Name</span>
				<input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" name="name" value="">
      </div>
      <br>
      
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Role</span>
				<input type="text" class="form-control" placeholder="role" aria-describedby="sizing-addon1" name="title" value="">
      </div>
      <br>
      
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Email</span>
				<input type="text" class="form-control" placeholder="email" aria-describedby="sizing-addon1" name="email" value="">
      </div>
      <br>
      
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Password</span>
				<input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" name="password" value="">
      </div>
      <br>
			
			
			<div class="buttons">
				<button type="submit" class="btn-default btn">save</button>  <a href="/admin/users">cancel</a>
			</div>
    </form>
	</div>

-->

    
