<% layout( '../admin-layout' ) -%>


<div class="col-md-10">
	<h2>Add new user</h2> 
   <div class="edit-form">    
   <form action="/admin/users/create" method="post" accept-charset="utf-8">
    	<div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Username</span>
				<input type="text" class="form-control" placeholder="username" aria-describedby="sizing-addon1" name="username" value="">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Name</span>
				<input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" name="name" value="">
      </div>
      <br>
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">First name</span>
				<input type="text" class="form-control" placeholder="firstname" aria-describedby="sizing-addon1" name="firstname" value="">
      </div>
      <br>  
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Role</span>
				<input type="text" class="form-control" placeholder="role" aria-describedby="sizing-addon1" name="role" value="">
      </div>
      <br>
      
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Email</span>
				<input type="text" class="form-control" placeholder="email" aria-describedby="sizing-addon1" name="email" value="">
      </div>
      <br>
      
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Password</span>
				<input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" name="password" value="">
      </div>
      <br>
			
			
			<div class="buttons">
				<button type="submit" class="btn-primary btn">save</button>  <a href="/admin/users">cancel</a>
			</div>
    </form>
	</div>
</div>


