<% layout( '../admin-layout' ) -%>

<h2>Group formations </h2>
<a href="/admin/users/groups/formations/create" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> Create new</a>
<br>
<br>
<div id="tab"></div>

<script>
$(document).ready (function () { 
	$('#tab').bootstrapTable({
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    //showColumns : true,
    checkboxHeader : true,
   // cardView:true, // mobile view
    columns: [
		  { field: 'title', title: 'Formation', sortable : true, order: 'asc', searchable: true }, 
		  { field: 'method', title: 'Formation algorithm', visible:true, sortable : true,  searchable : true }, 
		  { field: 'groups', title: 'Number of groups', visible:true, sortable : true,  searchable : true }, 
			{ field: 'persons', title: 'Number of users', visible:true, sortable : true, searchable : true },
			{ field: 'operate', title: '', formatter: operateFormatter, visible:true, sortable : true, searchable : true }  
    ]
	});
});

function operateFormatter(value, row, index) {
	return '--';
/*	return [
		'<a href="/admin/scripts/templates/duplicate/'+row._id+'" title="Duplicate script template">',
		'<i class="glyphicon glyphicon-duplicate"></i> duplicate',
		'</a><br>',
		'<a href="/admin/scripts/templates/instantiate/'+row._id+'" title="Create instance of script template">',
		'<i class="glyphicon glyphicon-export"></i> instantiate',
		'</a>'
	].join(''); */
}


</script>

