<% layout( '../admin-layout' ) -%>

<h2>Video files</h2>
<a href="/admin/videos/files/create" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> Create new</a>
<br>
<br>
<div id="table1"></div>


<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    //url: '/data/json/modules',
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    onLoadError : function(e){ console.log(JSON.stringify(e)); },
    showColumns : true,
    checkboxHeader : true,
    // search
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    detailView : true,
    detailFormatter : function(index, row) { 
    	return [
					'<video width="320" height="240" controls>',
				 	'<source src="'+row.video+'" type="'+row.mimetype+'">',
					'Your browser does not support the video tag.',
					'</video>'
				].join('');
    	// add preview player
    	var 
    		video = $('<video height="200"></video>'),
    		source = $('<source></source>')
    			.attr('type',  'video/mp4') /// xxx: buggyrow.mimetype
    			.attr('src', row.video )
    		;
    		source2 = $('<source></source>')
    			.attr('type',  'video/mp4') /// xxx: buggyrow.mimetype
    			.attr('src', row.video.replace('.mp4','.webm') )
    		;
    	video.html( source ).append( source2 );
			return video.html();
		},
		//onClickRow : function(row, el){ alert(row._id); },
    /*onClickCell : function(field, value, row, el){ 
    	if(field==='title'){ 
    		window.location.href = "/admin/videos/files/edit/"+row._id;
    	} 
    },*/
    columns: [
	   // { field: '_id', title: 'ID', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'title', title: 'File', formatter:titleFormatter, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'creator', title: 'Creator/Source', formatter: sourceFormatter, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'subject', title: 'Subject', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'description', title: 'Description', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'publisher', title: 'Publisher', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'contributor', title: 'Contributor', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'date', title: 'Date of Creation', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'type', title: 'Type', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'format', title: 'Formats',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'source', title: 'Source', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'language', title: 'Language',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'relation', title: 'Relation', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'coverage', title: 'Coverage', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'rights', title: 'Rights', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'license', title: 'Rights', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'video', title: 'Video URL',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'length', title: 'Duration',sortable : true, order: 'asc',visible:false, searchable : true }, 
		  { field: 'size', title: 'File Size',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'thumbnail', title: 'Thumnails',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'institution', title: 'Institution',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'category', title: 'Category',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'weight', title: 'Rating', visible:false, sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'updated_at', title: 'Updated at', formatter:dateFormatter, sortable : true, visible:true, order: 'asc',searchable : true },
    	{ field: 'operate', title: '',  align: 'center', /*events: operateEvents,*/ formatter: operateFormatter }
    ]
	});
});


function operateFormatter(value, row, index) {
	return [
		'<a class="like" href="/admin/videos/files/edit/'+row._id+'" title="Edit file meta data">',
		'<i class="glyphicon glyphicon-pencil"></i>',
		'</a>  ',
		'<a class="remove" href="/admin/videos/files/instantiate/'+row._id+'" title="Create instance of file">',
		'<i class="glyphicon glyphicon-export"></i>',
		'</a>'
		].join('');
	}

function dateFormatter(value, row, index) { 
	return moment(value).fromNow();
}

function titleFormatter(value, row, index) { 
	return [
			'<img height="30px" src="/static/img/stills/'+ row.thumbnail[2] +'" />',
			' '+row.title
			].join('');
}

function sourceFormatter(value, row, index) {
	if(row.source !== undefined){ 
		return [
			'<a class="like" href="'+row.source+'" title="See video source">',
			'<i class="glyphicon glyphicon-link"></i> '+row.creator,
			'</a>  '
			].join('');
	}else{
		return row.creator;
	}	
}

</script>







