<% layout( '../admin-layout' ) -%>


<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    //url: '/data/json/modules',
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    onLoadError : function(e){ console.log(JSON.stringify(e)); },
    //    onLoadSuccess : function(e){ alert(JSON.stringify(e)); },
    //height:'500',
    showColumns : true,
    checkboxHeader : true,
   // cardView:true, // mobile view
    showExport:true,
    exportDataType:'selected',
    exportOptions: {
    	consoleLog: false,
			csvEnclosure: '"',
			csvSeparator: ',',
			csvUseBOM: true,
			displayTableName: false,
			escape: false,
			excelstyles: [ 'css','properties','to','export','to','excel' ],
			fileName: 'tableExport',
			htmlContent: false,
			ignoreColumn: [],
			ignoreRow: [],
			onCellData: null,
			outputMode: 'file',
			tbodySelector: 'tr',
			theadSelector: 'tr',
			tableName: 'myTableName',
			type: 'csv',
			worksheetName: 'xlsWorksheetName'
    },
    // search
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    
    // details
    detailView : true,
    detailFormatter : function(index, row) {
    	// add preview player
    	var 
    		video = $('<video></video>')
    		source = $('<source></source>')
    			.attr('type', row.format[0] )
    			.attr('src', row.video )
    		;
    	video.html( source );
			return video;
		},
		//onClickRow : function(row, el){ alert(row._id); },
    /*onClickCell : function(field, value, row, el){ if(field==='modultitel'){ 
    	alert(row._id);
    } },*/
    columns: [
		  { field: 'title', title: 'Title', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'creator', title: 'Creator', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'subject', title: 'Subject', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'description', title: 'Description', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'publisher', title: 'Publisher', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'contributor', title: 'Contributor',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'date', title: 'Date of Creation', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'type', title: 'Type', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'format', title: 'File Formats',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'source', title: 'Source',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'language', title: 'Language',sortable : true, order: 'asc',searchable : true }, 
		  { field: 'relation', title: 'Relation', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'coverage', title: 'Coverage', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'rights', title: 'Rights', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'license', title: 'Rights', visible:false, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'video', title: 'Video URL',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'length', title: 'Duration',sortable : true, order: 'asc',visible:false, searchable : true }, 
		  { field: 'size', title: 'File Size',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'thumbnail', title: 'Thumnails',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'institution', title: 'Institution',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'category', title: 'Category',sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'weight', title: 'Rating', visible:false, sortable : true, visible:false, order: 'asc',searchable : true }, 
		  { field: 'updated_at', title: 'Updated at',sortable : true, visible:false, order: 'asc',searchable : true }
    ]
	});
});
</script>




<h2>Video Files</h2>
<a class="btn btn-default btn-xs" href="#" data-toggle="collapse" data-target="#addVideoPanel" aria-expanded="false" aria-controls="collapseExample">add new video instance</a>


<div id="addVideoPanel" class="edit-form collapse admin-edit-form">
	<div class="panel-heading">Add new video</div>
	<div class="panel-body">	 
		<form action="/videos/create" method="post" accept-charset="utf-8">
			
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Title</span>
				<input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" name="title" value="">
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Source URL</span>
				<input type="text" class="form-control" placeholder="video" aria-describedby="sizing-addon1" name="video" value="">
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Author/publisher</span>
				<input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon1" name="author" value="">
			</div>
			<div class="form-element form-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Description</span>
				<textarea class="form-control" rows="5" id="" name="abstract"></textarea>
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Category</span>
				<input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" name="category" value="">
			</div><% id = Math.random()*9999 %>
			<input type="hidden" name="id" value="" />
			
			<br>
			<div class="form-element buttons">
				<button class="btn btn-default" type="submit">Add video</button>  <a href="javascript:render('admin-videos', '/json/videos', true, '.admin-panel');">cancel</a>
			</div>
		</form>
	</div>	
</div>

<div id="table1"></div>

</table>



