<% layout( '../admin-layout' ) -%>


<h2>Video instances</h2>
<a href="/json/admin/video-instances"><span class="glyphicon glyphicon-export"></span> export instances</a>
<div id="table1"></div>
</div>
<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    //height:'500',
    showColumns : true,
    //checkboxHeader : true,
    // search
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    columns: [
    	{ field: 'id', title: 'ID', sortable : true, order: 'asc', searchable: true },
		  { field: 'title', title: 'Titel', formatter: titleFormatter, sortable : true, order: 'asc', searchable: true },
		  { field: 'file', title: 'File', formatter: fileFormatter, sortable : true, order: 'asc', searchable: true }, 
		  { field: 'annotations', title: 'Annotationen',  formatter: annotationFormatter, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'updated_at', title: 'last update', sortable : true, order: 'asc', searchable: true },
		  { field: 'operators', title: '', formatter: operationsFormatter, visible:true, sortable : true, searchable : true }
    ]
	});
});


function titleFormatter(value, row, index) {
	return '<a href="/admin/videos/instances/edit/'+row._id+'">'+row.metadata[0].title+'</a>'; 
}

function fileFormatter(value, row, index) {
	return row.video.split('/').slice(-1)[0]; 
}

function annotationFormatter(value, row, index) {
 var a = '';
 a += row.toc.length > 1 ? 'chapter marks ('+row.toc.length+') <br/>' : '';
 a += row.hyperlinks.length > 1 ? 'hyperlinks ('+row.hyperlinks.length+') <br/>' : '';
 a += row.tags.length > 1 ? 'tags ('+row.tags.length+') <br/>' : '';
 a += row.highlight.length > 1 ? 'hightlight ('+row.highlight.length+') <br/>' : '';
 a += row.slides.length > 1 ? 'slides ('+row.slides.length+') <br/>' : '';
 a += row.comments.length > 1 ? 'hyperlinks ('+row.comments.length+') <br/>' : '';
 a += row.assessment.length > 1 ? 'hyperlinks ('+row.assessment.length+') <br/>' : '';
//assessmentfillin, assessmentwriting
	return a;
}

function operationsFormatter(value, row, index) {
	return [
		'<a href="/videos/view/'+row._id+'" title="View video instance">',
		'<i class="glyphicon glyphicon-play"></i> view',
		'</a><br>',
		'<a href="/admin/videos/annotations/edit/'+row._id+'" title="Edit video annotations">',
		'<i class="glyphicon glyphicon-pencil"></i> edit annotations',
		'</a><br>',
		'<a href="/admin/videos/metadata/edit/'+row._id+'" title="Edit meta data">',
		'<i class="glyphicon glyphicon-pencil"></i> edit meta data',
		'</a>'
	].join('');
}

</script>



