<% layout( '../admin-layout' ) -%>


<div class="col-md-10">
<h2>Create new video file</h2>
<br/>
<div class="row">
	<div class="col-md-4">
		<form id="uploadForm"
				 enctype="multipart/form-data"
				 action="/admin/videos/upload"
				 method="POST">
			<input class="btn btn-default" type="file" name="uservideo" />
			<br>
			<input class="btn btn-default" type="submit" value="Upload Video" name="submit" />
			<span id="status"></span>
		</form><br>
		<div id="res"></div>
	</div>
	<div class="col-md-8 edit-form">
    <form 
    	id="metadataForm" 
    	action="/admin/videos/create-file" 
    	method="POST" 
    	accept-charset="utf-8" 
    	>
		<div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Title</span>
			<input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" name="title" value="">
    </div>
    <br>
    <div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Video URL</span>
			<input id="url" type="text" class="form-control" placeholder="video" aria-describedby="sizing-addon1" name="video" value="">
    </div>
    <br>
    <div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Creator</span>
			<input type="text" class="form-control" placeholder="creator" aria-describedby="sizing-addon1" name="creator" value="">
    </div>
    <br>
    <div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Institution</span>
			<input type="text" class="form-control" placeholder="institution" aria-describedby="sizing-addon1" name="institution" value="">
    </div>
    <br>
    <div class="form">
			<span class="" id="sizing-addon1"><strong>Description</strong></span>
			<textarea class="form-control" rows="4" id="description" name="description"></textarea>
    </div>
    <br>
    <div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Category</span>
			<input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" name="category" value="">
    </div>
    <br>
    <div class="input-group input-group-xs">
			<span class="input-group-addon" id="sizing-addon1">Tags</span>
			<input type="text" class="form-control" placeholder="tags1, tags2, ..." aria-describedby="sizing-addon1" name="tags" value="">
    </div>
    <br>
    <div class="form">
			<span class="" id="sizing-addon1"><strong>License</strong></span>
			<select id="license" name="license">
				<option value="cc-by">Creative Commons - attribution (cc-by)</option>
				<option value="pd">Public Domain (pd)</option>
				<option value="cr">Copy Right Restricted</option>
				<option value="nn">(unknown)</option>
			</select>
    </div>
    <br>
    <br>
    <div class="form">
			<span class="" id="sizing-addon1"><strong>Presentation</strong></span>
			<select id="presentation-type" name="presentation-type">
				<option value="video-only">Video only</option>
				<option value="video-slides">Video and slides</option>
				<option value="audio-only">Audio only</option>
				<option value="audio-slides">Audio and slides</option>			
			</select>
    </div>
    <br>
    <div class="form">
			<span class="" id="sizing-addon1"><strong>JSON-Data for Slides</strong></span>
			<textarea class="form-control" rows="4" id="slides" name="slides"></textarea>
    </div>
    <br>
    <br>
    <div class="stills row">
			<div class="col-xs-4 col-md-4">
				<button class="btn btn-secondary" id="createStills">Generate thumbnails</button>
			</div>	
		</div>
		<br/>
    <!-- Additional Meta Data -->
     
    <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		<h4><span class="glyphicon glyphicon-collapse-down"></span> Additional Fields</h4>
		</a>
		<div class="collapse" id="collapseExample">
			<br>
			<div class="input-group input-group-xs">
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Publisher</span>
					<input type="text" class="form-control" placeholder="publisher" aria-describedby="sizing-addon1" name="publisher" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Contributor</span>
					<input type="text" class="form-control" placeholder="contributor" aria-describedby="sizing-addon1" name="contributor" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Subject</span>
					<input type="text" class="form-control" placeholder="subject" aria-describedby="sizing-addon1" name="subject" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Coverage</span>
					<input type="text" class="form-control" placeholder="coverage" aria-describedby="sizing-addon1" name="coverage" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Source</span>
					<input type="text" class="form-control" placeholder="source" aria-describedby="sizing-addon1" name="source" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Rights</span>
					<input type="text" class="form-control" placeholder="rights" aria-describedby="sizing-addon1" name="rights" value="">
				</div>
				<br>		
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Year of creation</span>
					<input type="text" class="datetimepicker form-control" placeholder="date" aria-describedby="sizing-addon1" name="date" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Language</span>
					<input type="text" class="form-control" placeholder="language" aria-describedby="sizing-addon1" name="language" value="">
				</div>
				<br>
				<div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Relation</span>
					<input type="text" class="form-control" placeholder="relation" aria-describedby="sizing-addon1" name="relation" value="">
				</div> 
				<br>
				<% id = Math.random()*9999 %>
				<input type="input" name="mimetype" value="" />
				<input type="input" name="format" value="" />
				<input type="input" name="length" value="0" />
				<input type="input" name="type" value="video" />
				<input type="input" name="size" value="0" />
			</div>
		</div>
    
  
    <br><br>
    <div class="buttons">
      <button id="save-btn" class="btn btn-primary" type="submit">save</button>  <a href="/admin/videos/files">cancel</a>
    </div>
  </form>
</div>
</div>


<script>
/*
todo:
- handle pasted external ressources inc. duration, size, ..., different formats (?)
- start processing to generate different file types, 
- extract thumbnails
*/
$(document).ready(function() {
	
	$('.datetimepicker').datetimepicker({
      //viewMode: 'years',
      format: 'YYYY'
  });

	$('#save-btn').prop('disabled', true);
	var frm = $('#uploadForm');
	function progress(e){
	  if(e.lengthComputable){
		  var max = e.total;
		  var current = e.loaded;

		  var Percentage = (current * 100)/max;
		  $("#status").empty().text('Uploaded '+Percentage.toFixed(0)+' %');

			if(Percentage >= 100)
		  {
		     $('#save-btn').prop('disabled', false);
		  }
	 	}  
	}
	frm.submit(function(e) {
		$.ajax({
			type: frm.attr('method'),
			url: frm.attr('action'),
			data: new FormData( this ),
			xhr: function() {
				var myXhr = $.ajaxSettings.xhr();
				if(myXhr.upload){
				    myXhr.upload.addEventListener('progress',progress, false);
				}
				return myXhr;
			},
			cache:false,
			processData: false,
			contentType: false,
			error: function(xhr) {
				status('Error: ' + JSON.sringify(xhr.status));
			},
			success: function(res) { 
				res =  JSON.parse(res);
				//$("#status").empty().html('<a href="/static/videos/'+res.file.filename+'">uploaded '+ res.file.filename +'</a>' );
				var video = $('<video id="preview" width="100%" controls><source src="/static/videos/'+ res.file.filename +'" type="'+ res.file.mimetype +'"/></video>');
				$('#res').html(video);
				var vid = document.getElementById("preview");
				vid.ondurationchange = function() {
    			$('form#metadataForm [name="length"]').val( vid.duration ); 
				};
				$('form#metadataForm [name="video"]').val('/static/videos/'+res.file.filename);
				$('form#metadataForm [name="mimetype"]').val( res.file.mimetype );
				$('form#metadataForm [name="format"]').val( res.file.mimetype );
				$('form#metadataForm [name="size"]').val( res.file.size ); 
				
			}
		});
		return false;
	});

	/**/
	var frmMeta = $('#metadataForm');
	frmMeta.submit(function(e) {  
		e.preventDefault(); 
		var 
			thumbs = [],
			video = $('input[name=video]').val()
			;
		for(var i = 1; i < 5; i++){
			thumbs.push( 'still_'+video.split('/').splice(-1)[0].replace('.mp4','')+'_'+i+'.png' );
		}
		var annotations = {};
		annotations.slides = JSON.parse( $('textarea#slides').val() );
		var data = {
			title: $('input[name=title]').val(),
			creator: $('input[name=creator]').val(),
			subject: $('input[name=subject]').val(),
			description: $('textarea#description').val(),
			publisher: $('input[name=publisher]').val(),
			contributor: $('input[name=contributor]').val(),
			type: $('input[name=type]').val(),
			mimetype: $('input[name=mimetype]').val(),
			source: $('input[name=source]').val(),
			language: $('input[name=language]').val(),
			relation: $('input[name=relation]').val(),
			coverage: $('input[name=coverage]').val(),
			rights: $('input[name=rights]').val(),
			date: $('input[name=date]').val(),
			license: $('select[name=license] option:selected').val(),
			presentation_type: $('select[name=presentation-type] option:selected').val(),
			annotations: annotations,
			video: video, // url
			length: $('input[name=length]').val(),
			size: $('input[name=size]').val(),
			thumbnail: thumbs, 
			institution: $('input[name=institution]').val(),
			category: $('input[name=category]').val(),
			tags: $('input[name=tags]').val().split(',') // Array
		};
			
		$.ajax({
			type: frmMeta.attr('method'),
			url: frmMeta.attr('action'),
			data: data,
			error: function(xhr) {
				console.log(xhr)
			},
			success: function(res) { //alert(res)
				// redirect 
				window.location.href = '/admin/videos/files';
			}
		});
		return false;
	});       
});
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>




 

